/! start banner Area
section#home.banner-area.relative
  .overlay.overlay-bg
  .container
    .row.fullscreen.d-flex.align-items-center.justify-content-between
      .banner-content.col-lg-9.col-md-12
        h1.text-uppercase
          | We Ensure better education
          | for a better world
        p.pt-10.pb-10
          | In the history of modern astronomy, there is probably no one greater leap forward than the building and launch of the space telescope known as the Hubble.
        a.primary-btn.text-uppercase href="#"  Get Started
/! End banner Area
/! Start feature Area
section.feature-area
  .container
    .row
      .col-lg-4
        .single-feature
          .title
            h4
              a.text-white href="#"
                | Learn Online Courses
      .col-lg-4
        .single-feature
          .title
            h4
              a.text-white href="#"
                | No.1 of universities
      .col-lg-4
        .single-feature
          .title
            h4
              a.text-white href="#"
                | Huge Library
/! End feature AreaNot Yet Satisfied with our Trend?
/! Start popular-course Area
section.popular-course-area.section-gap
  .container
    .row.d-flex.justify-content-center
      .menu-content.col-lg-8
        .title.text-center
          h1.mb-10 Popular Courses we offer
          p There is a moment in the life of any aspiring.
    .row
      .active-popular-carusel
        .single-popular-carusel
          .thumb-wrap.relative
            .thumb.relative
              .overlay.overlay-bg
              = image_tag "p1.jpg", title: "", class: "img-fluid"
            .meta.d-flex.justify-content-between
              p
                span.lnr.lnr-users
                | 355
                span.lnr.lnr-bubble
                | 35
              h4 $150
          .details
            a href="#"
              h4
                | Learn Designing
            p
              | When television was young, there was a hugely popular show based on the still popular fictional characte
        .single-popular-carusel
          .thumb-wrap.relative
            .thumb.relative
              .overlay.overlay-bg
              = image_tag "p2.jpg", title: "", class: "img-fluid"
            .meta.d-flex.justify-content-between
              p
                span.lnr.lnr-users
                | 355
                span.lnr.lnr-bubble
                | 35
              h4 $150
          .details
            a href="#"
              h4
                | Learn React js beginners
            p
              | When television was young, there was a hugely popular show based on the still popular fictional characte
        .single-popular-carusel
          .thumb-wrap.relative
            .thumb.relative
              .overlay.overlay-bg
              = image_tag "p3.jpg", title: "", class: "img-fluid"
            .meta.d-flex.justify-content-between
              p
                span.lnr.lnr-users
                | 355
                span.lnr.lnr-bubble
                | 35
              h4 $150
          .details
            a href="#"
              h4
                | Learn Photography
            p
              | When television was young, there was a hugely popular show based on the still popular fictional characte
        .single-popular-carusel
          .thumb-wrap.relative
            .thumb.relative
              .overlay.overlay-bg
              = image_tag "p4.jpg", title: "", class: "img-fluid"
            .meta.d-flex.justify-content-between
              p
                span.lnr.lnr-users
                | 355
                span.lnr.lnr-bubble
                | 35
              h4 $150
          .details
            a href="#"
              h4
                | Learn Surveying
            p
              | When television was young, there was a hugely popular show based on the still popular fictional characte
        .single-popular-carusel
          .thumb-wrap.relative
            .thumb.relative
              .overlay.overlay-bg
              = image_tag "p1.jpg", title: "", class: "img-fluid"
            .meta.d-flex.justify-content-between
              p
                span.lnr.lnr-users
                | 355
                span.lnr.lnr-bubble
                | 35
              h4 $150
          .details
            a href="#"
              h4
                | Learn Designing
            p
              | When television was young, there was a hugely popular show based on the still popular fictional characte
        .single-popular-carusel
          .thumb-wrap.relative
            .thumb.relative
              .overlay.overlay-bg
              = image_tag "p2.jpg", title: "", class: "img-fluid"
            .meta.d-flex.justify-content-between
              p
                span.lnr.lnr-users
                | 355
                span.lnr.lnr-bubble
                | 35
              h4 $150
          .details
            a href="#"
              h4
                | Learn React js beginners
            p
              | When television was young, there was a hugely popular show based on the still popular fictional characte
        .single-popular-carusel
          .thumb-wrap.relative
            .thumb.relative
              .overlay.overlay-bg
              = image_tag "p3.jpg", title: "", class: "img-fluid"
            .meta.d-flex.justify-content-between
              p
                span.lnr.lnr-users
                | 355
                span.lnr.lnr-bubble
                | 35
              h4 $150
          .details
            a href="#"
              h4
                | Learn Photography
            p
              | When television was young, there was a hugely popular show based on the still popular fictional characte
        .single-popular-carusel
          .thumb-wrap.relative
            .thumb.relative
              .overlay.overlay-bg
              = image_tag "p4.jpg", title: "", class: "img-fluid"
            .meta.d-flex.justify-content-between
              p
                span.lnr.lnr-users
                | 355
                span.lnr.lnr-bubble
                | 35
              h4 $150
          .details
            a href="#"
              h4
                | Learn Surveying
            p
              | When television was young, there was a hugely popular show based on the still popular fictional characte
/! End popular-course Area
/! Start search-course Area
section.search-course-area.relative
  .overlay.overlay-bg
  .container
    .row.justify-content-between.align-items-center
      .col-lg-6.col-md-6.search-course-left
        h1.text-white
          | Get reduced fee
          br/
          | during this Summer!
        p
          | inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach.
        .row.details-content
          .col.single-detials
            span.lnr.lnr-graduation-hat
            a href="#"
              h4 Expert Instructors
            p
              | Usage of the Internet is becoming more common due to rapid advancement of technology and power.
          .col.single-detials
            span.lnr.lnr-license
            a href="#"
              h4 Certification
            p
              | Usage of the Internet is becoming more common due to rapid advancement of technology and power.
      .col-lg-4.col-md-6.search-course-right.section-gap
        form.form-wrap action="#"
          h4.text-white.pb-20.text-center.mb-30 Search for Available Course
          input.form-control name="name" onblur=("this.placeholder = 'Your Name'") onfocus=("this.placeholder = ''") placeholder=("Your Name") type="text" /
          input.form-control name="phone" onblur=("this.placeholder = 'Your Phone Number'") onfocus=("this.placeholder = ''") placeholder=("Your Phone Number") type="phone" /
          input.form-control name="email" onblur=("this.placeholder = 'Your Email Address'") onfocus=("this.placeholder = ''") placeholder=("Your Email Address") type="email" /
          #service-select.form-select
            select
              option datd-display=""  Choose Course
              option value="1"  Course One
              option value="2"  Course Two
              option value="3"  Course Three
              option value="4"  Course Four
          button.primary-btn.text-uppercase Submit
/! End search-course Area
/! Start upcoming-event Area
section.upcoming-event-area.section-gap
  .container
    .row.d-flex.justify-content-center
      .menu-content.pb-70.col-lg-8
        .title.text-center
          h1.mb-10 Upcoming Events of our Institute
          p If you are a serious astronomy fanatic like a lot of us
    .row
      .active-upcoming-event-carusel
        .single-carusel.row.align-items-center
          .col-12.col-md-6.thumb
            = image_tag "e1.jpg", title: "", class: "img-fluid"
          .detials.col-12.col-md-6
            p 25th February, 2018
            a href="#"
              h4
                | The Universe Through
                | A Child S Eyes
            p
              | For most of us, the idea of astronomy is something we directly connect to “stargazing”, telescopes and seeing magnificent displays in the heavens.
        .single-carusel.row.align-items-center
          .col-12.col-md-6.thumb
            = image_tag "e2.jpg", title: "", class: "img-fluid"
          .detials.col-12.col-md-6
            p 25th February, 2018
            a href="#"
              h4
                | The Universe Through
                | A Child S Eyes
            p
              | For most of us, the idea of astronomy is something we directly connect to “stargazing”, telescopes and seeing magnificent displays in the heavens.
        .single-carusel.row.align-items-center
          .col-12.col-md-6.thumb
            = image_tag "e1.jpg", title: "", class: "img-fluid"
          .detials.col-12.col-md-6
            p 25th February, 2018
            a href="#"
              h4
                | The Universe Through
                | A Child S Eyes
            p
              | For most of us, the idea of astronomy is something we directly connect to “stargazing”, telescopes and seeing magnificent displays in the heavens.
        .single-carusel.row.align-items-center
          .col-12.col-md-6.thumb
            = image_tag "e1.jpg", title: "", class: "img-fluid"
          .detials.col-12.col-md-6
            p 25th February, 2018
            a href="#"
              h4
                | The Universe Through
                | A Child S Eyes
            p
              | For most of us, the idea of astronomy is something we directly connect to “stargazing”, telescopes and seeing magnificent displays in the heavens.
        .single-carusel.row.align-items-center
          .col-12.col-md-6.thumb
            = image_tag "e2.jpg", title: "", class: "img-fluid"
          .detials.col-12.col-md-6
            p 25th February, 2018
            a href="#"
              h4
                | The Universe Through
                | A Child S Eyes
            p
              | For most of us, the idea of astronomy is something we directly connect to “stargazing”, telescopes and seeing magnificent displays in the heavens.
        .single-carusel.row.align-items-center
          .col-12.col-md-6.thumb
            = image_tag "e1.jpg", title: "", class: "img-fluid"
          .detials.col-12.col-md-6
            p 25th February, 2018
            a href="#"
              h4
                | The Universe Through
                | A Child S Eyes
            p
              | For most of us, the idea of astronomy is something we directly connect to “stargazing”, telescopes and seeing magnificent displays in the heavens.
/! End upcoming-event Area
/! Start review Area
section.review-area.section-gap.relative
  .overlay.overlay-bg
  .container
    .row
      .active-review-carusel
        .single-review.item
          .title.justify-content-start.d-flex
            a href="#"
              h4 Fannie Rowe
            .star
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star
              span.fa.fa-star
          p
            | Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker. Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
        .single-review.item
          .title.justify-content-start.d-flex
            a href="#"
              h4 Hulda Sutton
            .star
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star
              span.fa.fa-star
          p
            | Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker. Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
        .single-review.item
          .title.justify-content-start.d-flex
            a href="#"
              h4 Fannie Rowe
            .star
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star
              span.fa.fa-star
          p
            | Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker. Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
        .single-review.item
          .title.justify-content-start.d-flex
            a href="#"
              h4 Hulda Sutton
            .star
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star
              span.fa.fa-star
          p
            | Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker. Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
        .single-review.item
          .title.justify-content-start.d-flex
            a href="#"
              h4 Fannie Rowe
            .star
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star
              span.fa.fa-star
          p
            | Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker. Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
        .single-review.item
          .title.justify-content-start.d-flex
            a href="#"
              h4 Hulda Sutton
            .star
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star
              span.fa.fa-star
          p
            | Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker. Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
        .single-review.item
          .title.justify-content-start.d-flex
            a href="#"
              h4 Fannie Rowe
            .star
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star
              span.fa.fa-star
          p
            | Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker. Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
        .single-review.item
          .title.justify-content-start.d-flex
            a href="#"
              h4 Hulda Sutton
            .star
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star
              span.fa.fa-star
          p
            | Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker. Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
/! End review Area
/! Start cta-one Area
section.cta-one-area.relative.section-gap
  .container
    .overlay.overlay-bg
    .row.justify-content-center
      .wrap
        h1.text-white Become an instructor
        p
          | There is a moment in the life of any aspiring astronomer that it is time to buy that first telescope. It’s exciting to think about setting up your own viewing station whether that is on the deck.
        a.primary-btn.wh href="#"  Apply for the post
/! End cta-one Area
