/! start banner Area
section#home.banner-area.relative.about-banner
  .overlay.overlay-bg
  .container
    .row.d-flex.align-items-center.justify-content-center
      .about-content.col-lg-12
        h1.text-white
          | Contact Us
        p.text-white.link-nav
          a href="index.html"  Home
          span.lnr.lnr-arrow-right
          = link_to 'Contact Us', 'contact'
/! End banner Area
/! Start contact-page Area
section.contact-page-area.section-gap
  .container
    .row
      #map.map-wrap style=("width:100%; height: 445px;")
      .col-lg-4.d-flex.flex-column.address-wrap
        .single-contact-address.d-flex.flex-row
          .icon
            span.lnr.lnr-home
          .contact-details
            h5 Binghamton, New York
            p
              | 4343 Hinkle Deegan Lake Road
        .single-contact-address.d-flex.flex-row
          .icon
            span.lnr.lnr-phone-handset
          .contact-details
            h5 00 (958) 9865 562
            p Mon to Fri 9am to 6 pm
        .single-contact-address.d-flex.flex-row
          .icon
            span.lnr.lnr-envelope
          .contact-details
            h5 support@colorlib.com
            p Send us your query anytime!
      .col-lg-8
        form#myForm.form-area.contact-form.text-right action="mail.php" method="post"
          .row
            .col-lg-6.form-group
              input.common-input.mb-20.form-control name="name" onblur=("this.placeholder = 'Enter your name'") onfocus=("this.placeholder = ''") placeholder=("Enter your name") required="" type="text" /
              / input.common-input.mb-20.form-control name="email" onblur=("this.placeholder = 'Enter email address'") onfocus=("this.placeholder = ''") pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{1,63}$" placeholder=("Enter email address") required="" type="email" /
              input.common-input.mb-20.form-control name="subject" onblur=("this.placeholder = 'Enter subject'") onfocus=("this.placeholder = ''") placeholder=("Enter subject") required="" type="text" /
            .col-lg-6.form-group
              textarea.common-textarea.form-control name="message" onblur=("this.placeholder = 'Enter Messege'") onfocus=("this.placeholder = ''") placeholder=("Enter Messege") required=""
            .col-lg-12
              .alert-msg style=("text-align: left;")
              button.genric-btn.primary style=("float: right;")  Send Message
/! End contact-page Area