= simple_form_for [:admin, @teacher], wrapper: :horizontal_form, html: { class: 'form-horizontal'} do |f|
  = f.input :first_name
  = f.input :last_name
  = f.input :description
  .row
    .col-md-4.col-md-offset-3.button_box
      = f.button :submit, 'Сохранить', class: 'btn btn-primary'
      = link_to 'Отменить', admin_teachers_path, class: 'btn btn-default'
