h3 Преподаватели
= link_to 'Добавить преподавателя',new_admin_teacher_path, class: 'btn btn-success pull-right'
table.table.table-striped
  thead
    tr
      th Имя
      th Фамилия
      th Описание
  tbody
    = render @teachers
= paginate @teachers, theme:  'twitter-bootstrap-3'
