/! start banner Area
section#home.banner-area.relative.about-banner
  .overlay.overlay-bg
  .container
    .row.d-flex.align-items-center.justify-content-center
      .about-content.col-lg-12
        h1.text-white
          | Login
        p.text-white.link-nav
          a href="index.html"  Home
          span.lnr.lnr-arrow-right
          = link_to 'Login', new_user_session_path
/! End banner Area
br
.container
  .card.bg-light
    article.card-body.mx-auto style=("max-width: 400px;")
      h4.card-title.mt-3.text-center Login
      / form
      = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .form-group.input-group
          = f.input :email, \
                required: false, \
                autofocus: true, \
                input_html: {autocomplete: "email", placeholder: "Email"}, \
                label: false
        .form-group.input-group
          = f.input :password, \
                required: false, \
                input_html: {autocomplete: "current-password", placeholder: "Password"}, \
                label: false
        .form-group.input-group
          = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
        .form-group
          = f.button :submit, "Log in",
                  class: "btn btn-primary btn-block",
                  type: "submit"
        ul
          li = link_to 'Register', new_user_registration_path, class: "text-muted"
          li = link_to 'Forgot password?', '/', class: "text-muted"
          li = link_to 'Does not get a letter to confirm?', '/', class: "text-muted"
br
  /! card.//
  /! container end.//