= simple_form_for [:admin, @course, @lesson], wrapper: :horizontal_form, html: { class: 'form-horizontal'} do |f|
  = f.input :name
  = f.association :section, collection: @course.sections.order(:position)
  = f.input :description, input_html: { class: 'tinymce', rows: 10, cols: 120 }
  = tinymce(uploadimage_form_url: admin_api_lesson_tinymce_images_path(@lesson))
  .row
    .col-md-4.col-md-offset-3.button_boxs
      = f.button :submit, 'Сохранить', class: 'btn btn-primary'
      = link_to 'Отменить', [:admin, @course, :lessons], class: 'btn btn-default'
      = link_to 'Удалить', [:admin, @course, @lesson], class: 'btn btn-danger', method: :delete, data: {confirm: 'Действительно хотите удалить?'} if @lesson.persisted?
