.divider-text
  position: relative
  text-align: center
  margin-top: 15px
  margin-bottom: 15px

  span
    padding: 7px
    font-size: 12px
    position: relative
    z-index: 2

  &:after
    content: ""
    position: absolute
    width: 100%
    border-bottom: 1px solid #ddd
    top: 55%
    left: 0
    z-index: 1

.btn-facebook
  background-color: #405D9D
  color: #fff

.btn-twitter
  background-color: #42AEEC
  color: #fff