footer.footer-area.section-gap
  .container
    .row
      .col-lg-2.col-md-6.col-sm-6
        .single-footer-widget
          h4 Top Products
          ul
            li
              a href="#"  Managed Website
            li
              a href="#"  Manage Reputation
            li
              a href="#"  Power Tools
            li
              a href="#"  Marketing Service
      .col-lg-2.col-md-6.col-sm-6
        .single-footer-widget
          h4 Quick links
          ul
            li
              a href="#"  Jobs
            li
              a href="#"  Brand Assets
            li
              a href="#"  Investor Relations
            li
              a href="#"  Terms of Service
      .col-lg-2.col-md-6.col-sm-6
        .single-footer-widget
          h4 Features
          ul
            li
              a href="#"  Jobs
            li
              a href="#"  Brand Assets
            li
              a href="#"  Investor Relations
            li
              a href="#"  Terms of Service
      .col-lg-2.col-md-6.col-sm-6
        .single-footer-widget
          h4 Resources
          ul
            li
              a href="#"  Guides
            li
              a href="#"  Research
            li
              a href="#"  Experts
            li
              a href="#"  Agencies
      .col-lg-4.col-md-6.col-sm-6
        .single-footer-widget
          h4 Newsletter
          p Stay update with our latest
          #mc_embed_signup
            form action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&id=92a4423d01" method="get" target="_blank"
              .input-group
                input.form-control name="EMAIL" onblur=("this.placeholder = 'Enter Email Address '") onfocus=("this.placeholder = ''") placeholder=("Enter Email Address") required="" type="text" /
                .input-group-btn
                  button.btn.btn-default type="submit"
                    span.lnr.lnr-arrow-right
                .info
    .footer-bottom.row.align-items-center.justify-content-between
      p.footer-text.m-0.col-lg-6.col-md-12
        /! Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
        | Copyright ©
        javascript:
            |
            document.write(new Date().getFullYear());
        | All rights reserved | This template is made with
        i.fa.fa-heart-o aria-hidden="true"
        | by
        a href="https://colorlib.com" target="_blank"  Colorlib
      /! Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
      .col-lg-6.col-sm-12.footer-social
        a href="#"
          i.fa.fa-facebook
        a href="#"
          i.fa.fa-twitter
        a href="#"
          i.fa.fa-dribbble
        a href="#"
          i.fa.fa-behance
