.header-top
  .container
    .row
      .col-lg-6.col-sm-6.col-8.header-top-left.no-padding
        ul
          li
            a href="#"
              i.fa.fa-facebook
          li
            a href="#"
              i.fa.fa-twitter
          li
            a href="#"
              i.fa.fa-dribbble
          li
            a href="#"
              i.fa.fa-behance
      .col-lg-6.col-sm-6.col-4.header-top-right.no-padding
        a href=("tel:+953 012 3654 896")
          span.lnr.lnr-phone-handset
          span.text +953 012 3654 896
        a href="mailto:support@colorlib.com"
          span.lnr.lnr-envelope
          span.text support@colorlib.com
        - unless current_user
          a
            span.lnr
            span.text |
          = link_to  new_user_session_path
            span.lnr
            span.text Login
          = link_to  new_user_registration_path
            span.lnr
            span.text Register
        - if current_user
          a
            span.lnr.lnr-envelope
            span.text |
          = link_to  edit_user_password_path
            span.lnr
            span.text = current_user.email
          = button_to  destroy_user_session_path, method: :delete
            span.lnr
            span.text Logout
.container.main-menu
  .row.align-items-center.justify-content-between.d-flex
    #logo
      a href="/index.html"
        = image_tag "logo.png", title: "", class: ""
    nav#nav-menu-container
      ul.nav-menu
        li
          = link_to 'Home', '/'
        li
          = link_to 'About', '/about.html'
        li
          = link_to 'Courses', '/courses'
        li
          = link_to 'Events', '/events.html'
        li
          = link_to 'Gallery', '/gallery.html'
        li.menu-has-children
          = link_to 'Blog', '/'
          ul
            li
              = link_to 'Blog Home', '/blog-home.html'
            li
              = link_to 'Blog Single', '/blog-single.html'
        li.menu-has-children
          = link_to 'Pages', '/'
          ul
            li
              = link_to 'Course Details', '/course-details.html'
            li
              = link_to 'Event Details', '/event-details.html'
            li
              = link_to 'Elements', '/elements.html'
            li.menu-has-children
              = link_to 'Level 2', '/'
              ul
                li
                  = link_to 'Item One', '/'
                li
                  = link_to 'Item Two', '/'
        li
          = link_to 'Contact', 'contact'
      /! #nav-menu-container
