.row
  .col-sm-offset-4.col-sm-4
    h3
      | Log in
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-inputs
        = f.input :email,required: false, autofocus: true,input_html: { autocomplete: "email" }
        = f.input :password, required: false, input_html: { autocomplete: "current-password" }
        = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
      .form-actions
      .row
        .col-md-offset-0.col-sm-4.button_box
          = f.button :submit, "Войти", class: 'btn btn-primary'
    = render "devise/shared/links"