= simple_form_for [:admin, @discipline], wrapper: :horizontal_form, html: { class: 'form-horizontal'} do |f|
  = f.input :name
  .row
    .col-md-4.col-md-offset-3.button_box
      = f.button :submit, 'Сохранить', class: 'btn btn-primary'
      = link_to 'Отменить', admin_disciplines_path, class: 'btn btn-default'
