/! start banner Area
section#home.banner-area.relative.about-banner
  .overlay.overlay-bg
  .container
    .row.d-flex.align-items-center.justify-content-center
      .about-content.col-lg-12
        h1.text-white
          = @course.name
        p.text-white.link-nav
          = link_to 'Home', '/'
          span.lnr.lnr-arrow-right
          = link_to 'Courses', courses_path
          span.lnr.lnr-arrow-right
          = link_to @course.name, course_lessons_path(@course)
          span.lnr.lnr-arrow-right
          = link_to @lesson.name, course_lesson_path(@course, @lesson)
/! End banner Area
/! Start course-details Area
section.course-details-area.pt-25
  .container
    .row
      .col-lg-8.left-contents
        h1 = @lesson.name
        .main-image
        #horizontalTab.jq-tab-wrapper
          .jq-tab-menu
            .jq-tab-title.active data-tab="1"  Description
            .jq-tab-title data-tab="2"  Video
            .jq-tab-title data-tab="3"  Conspect
            .jq-tab-title data-tab="4"  Task
          .jq-tab-content-wrapper
            .jq-tab-content.active data-tab="1"
              = @lesson.description.html_safe
            .jq-tab-content data-tab="2"
            .jq-tab-content data-tab="3"
            .jq-tab-content data-tab="4"

      .col-lg-4.right-contents
        ul.section-list
          - @sections.each do |section|
            li
              p.section-box
                = section.name
              ul.course-list
                - section.lessons.each do |lesson|
                  li.justify-content-between.d-flex
                    p = lesson.name
                    / a.primary-btn.text-uppercase href="#"  View Details
                    = link_to "View Details", course_lesson_path(@course, lesson)
/! End course-details Area