/! start banner Area
section#home.banner-area.relative.about-banner
  .overlay.overlay-bg
  .container
    .row.d-flex.align-items-center.justify-content-center
      .about-content.col-lg-12
        h1.text-white
          | Courses
        p.text-white.link-nav
          = link_to 'Home', '/'
          span.lnr.lnr-arrow-right
          = link_to 'Courses', 'courses'
/! End banner Area
/! Start popular-course Area
section.popular-course-area.section-gap
  .container
    .row.d-flex.justify-content-center
      .menu-content.col-lg-8
        .title.text-center
          h1.mb-10 Popular Courses we offer
          p There is a moment in the life of any aspiring.
    .row
      .active-popular-carusel
        - @courses.each do |course|
          .single-popular-carusel
            .thumb-wrap.relative
              .thumb.relative
                .overlay.overlay-bg
                / - byebug
                = image_tag course.tinymce_images.take.file.url, title: "", class: "img-fluid"
              .meta.d-flex.justify-content-between
                p
                  span.lnr.lnr-users
                  | 355
                  span.lnr.lnr-bubble
                  | 35
                h4 $150
            .details
              = link_to course_lessons_path(course.id)
                h4
                  = course.name
              p
                / = course.description.html_safe
                /! End popular-course Area
