tr
  td
    .btn-group-vertical role="group"
      = link_to [:admin, course, :lessons], class: 'btn btn-info btn-sm' do
        span.glyphicon.glyphicon-th-list aria-hidden="true"
      / = link_to raw('<i class="fa fa-th-large"></i>'), admin_course_lessons_path(course),
      /           class: 'btn btn-sm btn-warning',
      /           style: 'margin-right: 10px'
      = link_to [:edit, :admin, course], class: 'btn btn-primary btn-sm' do
        span.glyphicon.glyphicon-pencil aria-hidden="true"
      = link_to [:admin, course], class: 'btn btn-danger btn-sm', method: :delete,data: {confirm: 'Действительно хотите удалить?' } do
        span.glyphicon.glyphicon-trash aria-hidden="true"
  td= course.name
  td= "#{course.teacher.decorate.full_name}"
  td= course.disciplines_name

