= simple_form_for [:admin, @course], wrapper: :horizontal_form, html: { class: 'form-horizontal'} do |f|
  = f.input :name
  = f.input :description, input_html: { class: 'tinymce', rows: 10, cols: 120 }
  = tinymce(uploadimage_form_url: admin_api_course_tinymce_images_path(@course))
  / = f.association :teacher, label_method: lambda { |name| "#{name.first_name}  #{name.last_name}" }
  / = f.association :teacher, collection: Teacher.all.order(id: :desc).decorate, label_method: :full_name
  = f.association :teacher, label_method: :full_name
  / = f.association :disciplines, include_blank: false, input_html: {size: Discipline.count}
  = f.association :disciplines

  .panel.panel-default
    .panel-body.sections_sortable
      = f.simple_fields_for :sections, f.object.sections.order(:position) do |section|
        = render 'section_fields', f: section
      .links
        = link_to_add_association 'Добавить секцию', f, :sections, class: 'btn btn-xs btn-success '
  .row
    .col-md-9.col-md-offset-3.button_box
      = f.button :submit, 'Сохранить', class: 'btn btn-primary'
      = link_to 'Отменить', admin_courses_path, class: 'btn btn-default'
      = link_to 'Удалить', [:admin, @course], class: 'btn btn-danger', method: :delete, data: { confirm: 'Действительно хотите удалить?' } if @course.persisted?