\::-moz-selection, ::selection
  background-color: #f7631b
  color: #fff

\::-webkit-input-placeholder
  color: #777777
  font-weight: 300

\:-moz-placeholder, ::-moz-placeholder
  color: #777777
  opacity: 1
  font-weight: 300

\:-ms-input-placeholder, ::-ms-input-placeholder
  color: #777777
  font-weight: 300

// FONT
@import  "https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700"


body
  color: #777
  font-family: "Poppins",sans-serif
  font-size: 14px
  font-weight: 300
  line-height: 1.625em
  position: relative

ol, ul
  margin: 0
  padding: 0
  list-style: none

select
  display: block

figure
  margin: 0

a
  -webkit-transition: all 0.3s ease 0s
  -moz-transition: all 0.3s ease 0s
  -o-transition: all 0.3s ease 0s
  transition: all 0.3s ease 0s

iframe
  border: 0

a
  text-decoration: none
  outline: 0

  &:focus, &:hover
    text-decoration: none
    outline: 0

.btn
  &.active
    &.focus, &:focus
      text-decoration: none
      outline: 0

  &.focus
    text-decoration: none
    outline: 0

    &:active
      text-decoration: none
      outline: 0

  &:active:focus, &:focus
    text-decoration: none
    outline: 0

.card-panel
  margin: 0
  padding: 60px

.btn i, .btn-large i, .btn-floating i, .btn-large i, .btn-flat i
  font-size: 1em
  line-height: inherit

.gray-bg
  background: #f9f9ff

h1, h2, h3, h4, h5, h6
  font-family: "Poppins",sans-serif
  color: #222
  line-height: 1.2em !important
  margin-bottom: 0
  margin-top: 0
  font-weight: 600

.h1, .h2, .h3, .h4, .h5, .h6
  margin-bottom: 0
  margin-top: 0
  font-family: "Poppins",sans-serif
  font-weight: 600
  color: #222

h1, .h1
  font-size: 36px

h2, .h2
  font-size: 30px

h3, .h3
  font-size: 24px

h4, .h4
  font-size: 18px

h5, .h5
  font-size: 16px

h6, .h6
  font-size: 14px
  color: #222

td, th
  border-radius: 0px

.clear
  &::before
    content: " "
    display: table

  &::after
    content: " "
    display: table
    clear: both

.fz-11
  font-size: 11px

.fz-12
  font-size: 12px

.fz-13
  font-size: 13px

.fz-14
  font-size: 14px

.fz-15
  font-size: 15px

.fz-16
  font-size: 16px

.fz-18
  font-size: 18px

.fz-30
  font-size: 30px

.fz-48
  font-size: 48px !important

.fw100
  font-weight: 100

.fw300
  font-weight: 300

.fw400
  font-weight: 400 !important

.fw500
  font-weight: 500

.f700
  font-weight: 700

.fsi
  font-style: italic

.mt-10
  margin-top: 10px

.mt-15
  margin-top: 15px

.mt-20
  margin-top: 20px

.mt-25
  margin-top: 25px

.mt-30
  margin-top: 30px

.mt-35
  margin-top: 35px

.mt-40
  margin-top: 40px

.mt-50
  margin-top: 50px

.mt-60
  margin-top: 60px

.mt-70
  margin-top: 70px

.mt-80
  margin-top: 80px

.mt-100
  margin-top: 100px

.mt-120
  margin-top: 120px

.mt-150
  margin-top: 150px

.ml-0
  margin-left: 0 !important

.ml-5
  margin-left: 5px !important

.ml-10
  margin-left: 10px

.ml-15
  margin-left: 15px

.ml-20
  margin-left: 20px

.ml-30
  margin-left: 30px

.ml-50
  margin-left: 50px

.mr-0
  margin-right: 0 !important

.mr-5
  margin-right: 5px !important

.mr-15
  margin-right: 15px

.mr-10
  margin-right: 10px

.mr-20
  margin-right: 20px

.mr-30
  margin-right: 30px

.mr-50
  margin-right: 50px

.mb-0
  margin-bottom: 0px

.mb-0-i
  margin-bottom: 0px !important

.mb-5
  margin-bottom: 5px

.mb-10
  margin-bottom: 10px

.mb-15
  margin-bottom: 15px

.mb-20
  margin-bottom: 20px

.mb-25
  margin-bottom: 25px

.mb-30
  margin-bottom: 30px

.mb-40
  margin-bottom: 40px

.mb-50
  margin-bottom: 50px

.mb-60
  margin-bottom: 60px

.mb-70
  margin-bottom: 70px

.mb-80
  margin-bottom: 80px

.mb-90
  margin-bottom: 90px

.mb-100
  margin-bottom: 100px

.pt-0
  padding-top: 0px

.pt-10
  padding-top: 10px

.pt-15
  padding-top: 15px

.pt-20
  padding-top: 20px

.pt-25
  padding-top: 25px

.pt-30
  padding-top: 30px

.pt-40
  padding-top: 40px

.pt-50
  padding-top: 50px

.pt-60
  padding-top: 60px

.pt-70
  padding-top: 70px

.pt-80
  padding-top: 80px

.pt-90
  padding-top: 90px

.pt-100
  padding-top: 100px

.pt-120
  padding-top: 120px

.pt-150
  padding-top: 150px

.pt-170
  padding-top: 170px

.pb-0
  padding-bottom: 0px

.pb-10
  padding-bottom: 10px

.pb-15
  padding-bottom: 15px

.pb-20
  padding-bottom: 20px

.pb-25
  padding-bottom: 25px

.pb-30
  padding-bottom: 30px

.pb-40
  padding-bottom: 40px

.pb-50
  padding-bottom: 50px

.pb-60
  padding-bottom: 60px

.pb-70
  padding-bottom: 70px

.pb-80
  padding-bottom: 80px

.pb-90
  padding-bottom: 90px

.pb-100
  padding-bottom: 100px

.pb-120
  padding-bottom: 120px

.pb-150
  padding-bottom: 150px

.pr-30
  padding-right: 30px

.pl-30
  padding-left: 30px

.pl-90
  padding-left: 90px

.p-40
  padding: 40px

.float-left
  float: left

.float-right
  float: right

.text-italic
  font-style: italic

.text-white
  color: #fff

.text-black
  color: #000

.transition
  -webkit-transition: all 0.3s ease 0s
  -moz-transition: all 0.3s ease 0s
  -o-transition: all 0.3s ease 0s
  transition: all 0.3s ease 0s

.section-full
  padding: 100px 0

.section-half
  padding: 75px 0

.text-center
  text-align: center

.text-left
  text-align: left

.text-rigth
  text-align: right

.flex
  display: -webkit-box
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flexbox
  display: flex

.inline-flex
  display: -webkit-inline-box
  display: -webkit-inline-flex
  display: -moz-inline-flex
  display: -ms-inline-flexbox
  display: inline-flex

.flex-grow
  -webkit-box-flex: 1
  -webkit-flex-grow: 1
  -moz-flex-grow: 1
  -ms-flex-positive: 1
  flex-grow: 1

.flex-wrap
  -webkit-flex-wrap: wrap
  -moz-flex-wrap: wrap
  -ms-flex-wrap: wrap
  flex-wrap: wrap

.flex-left
  -webkit-box-pack: start
  -ms-flex-pack: start
  -webkit-justify-content: flex-start
  -moz-justify-content: flex-start
  justify-content: flex-start

.flex-middle
  -webkit-box-align: center
  -ms-flex-align: center
  -webkit-align-items: center
  -moz-align-items: center
  align-items: center

.flex-right
  -webkit-box-pack: end
  -ms-flex-pack: end
  -webkit-justify-content: flex-end
  -moz-justify-content: flex-end
  justify-content: flex-end

.flex-top
  -webkit-align-self: flex-start
  -moz-align-self: flex-start
  -ms-flex-item-align: start
  align-self: flex-start

.flex-center
  -webkit-box-pack: center
  -ms-flex-pack: center
  -webkit-justify-content: center
  -moz-justify-content: center
  justify-content: center

.flex-bottom
  -webkit-align-self: flex-end
  -moz-align-self: flex-end
  -ms-flex-item-align: end
  align-self: flex-end

.space-between
  -webkit-box-pack: justify
  -ms-flex-pack: justify
  -webkit-justify-content: space-between
  -moz-justify-content: space-between
  justify-content: space-between

.space-around
  -ms-flex-pack: distribute
  -webkit-justify-content: space-around
  -moz-justify-content: space-around
  justify-content: space-around

.flex-column
  -webkit-box-direction: normal
  -webkit-box-orient: vertical
  -webkit-flex-direction: column
  -moz-flex-direction: column
  -ms-flex-direction: column
  flex-direction: column

.flex-cell
  display: -webkit-box
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flexbox
  display: flex
  -webkit-box-flex: 1
  -webkit-flex-grow: 1
  -moz-flex-grow: 1
  -ms-flex-positive: 1
  flex-grow: 1

.display-table
  display: table

.light
  color: #fff

.dark
  color: #222

.relative
  position: relative

.overflow-hidden
  overflow: hidden

.overlay
  position: absolute
  left: 0
  right: 0
  top: 0
  bottom: 0

.container
  &.fullwidth
    width: 100%

  &.no-padding
    padding-left: 0
    padding-right: 0

.no-padding
  padding: 0

.section-bg
  background: #f9fafc

@media (max-width: 767px)
  .no-flex-xs
    display: block !important

.row.no-margin
  margin-left: 0
  margin-right: 0

.whole-wrap
  background-color: #f9f9ff

.generic-banner
  margin-top: 60px
  background-color: #f7631b
  text-align: center

  .height
    height: 600px

  .generic-banner-content
    h2
      line-height: 1.2em
      margin-bottom: 20px

    p
      text-align: center
      font-size: 16px

@media (max-width: 767.98px)
  .generic-banner .height
    height: 400px

@media (max-width: 991.98px)
  .generic-banner .generic-banner-content h2 br
    display: none

@media (max-width: 991.98px)
  .generic-banner .generic-banner-content p br
    display: none

.generic-content h1
  font-weight: 600

.about-generic-area
  background: #fff

  p
    margin-bottom: 20px

.white-bg
  background: #fff

.section-top-border
  padding: 50px 0
  border-top: 1px dotted #eee

.switch-wrap
  margin-bottom: 10px

  p
    margin: 0

.sample-text-area
  background: #f9f9ff
  padding: 100px 0 70px 0

.sample-text
  margin-bottom: 0

.text-heading
  margin-bottom: 30px
  font-size: 24px

.typo-list
  margin-bottom: 10px

@media (max-width: 767px)
  .typo-sec
    margin-bottom: 30px

@media (max-width: 767px)
  .element-wrap
    margin-top: 30px

b, sup, sub, u, del
  color: #f7631b

h1
  font-size: 36px

h2
  font-size: 30px

h3
  font-size: 24px

h4
  font-size: 18px

h5
  font-size: 16px

h6
  font-size: 14px

h1, h2, h3, h4, h5, h6
  line-height: 1.5em

.typography
  h1, h2, h3, h4, h5, h6
    color: #777

.button-area
  background: #f9f9ff

  .border-top-generic
    padding: 70px 15px
    border-top: 1px dotted #eee

.button-group-area .genric-btn
  margin-right: 10px
  margin-top: 10px

  &:last-child
    margin-right: 0

.genric-btn
  display: inline-block
  outline: none
  line-height: 40px
  padding: 0 30px
  font-size: .8em
  text-align: center
  text-decoration: none
  font-weight: 500
  cursor: pointer
  -webkit-transition: all 0.3s ease 0s
  -moz-transition: all 0.3s ease 0s
  -o-transition: all 0.3s ease 0s
  transition: all 0.3s ease 0s

  &:focus
    outline: none

  &.e-large
    padding: 0 40px
    line-height: 50px

  &.large
    line-height: 45px

  &.medium
    line-height: 30px

  &.small
    line-height: 25px

  &.radius
    border-radius: 3px

  &.circle
    border-radius: 20px

  &.arrow
    display: -webkit-inline-box
    display: -ms-inline-flexbox
    display: inline-flex
    -webkit-box-align: center
    -ms-flex-align: center
    align-items: center

    span
      margin-left: 10px

  &.default
    color: #222
    background: #f9f9ff
    border: 1px solid transparent

    &:hover
      border: 1px solid #f9f9ff
      background: #fff

  &.default-border
    border: 1px solid #f9f9ff
    background: #fff

    &:hover
      color: #222
      background: #f9f9ff
      border: 1px solid transparent

  &.primary
    color: #fff
    background: #f7631b
    border: 1px solid transparent

    &:hover
      color: #f7631b
      border: 1px solid #f7631b
      background: #fff

  &.primary-border
    color: #f7631b
    border: 1px solid #f7631b
    background: #fff

    &:hover
      color: #fff
      background: #f7631b
      border: 1px solid transparent

  &.success
    color: #fff
    background: #4cd3e3
    border: 1px solid transparent

    &:hover
      color: #4cd3e3
      border: 1px solid #4cd3e3
      background: #fff

  &.success-border
    color: #4cd3e3
    border: 1px solid #4cd3e3
    background: #fff

    &:hover
      color: #fff
      background: #4cd3e3
      border: 1px solid transparent

  &.info
    color: #fff
    background: #38a4ff
    border: 1px solid transparent

    &:hover
      color: #38a4ff
      border: 1px solid #38a4ff
      background: #fff

  &.info-border
    color: #38a4ff
    border: 1px solid #38a4ff
    background: #fff

    &:hover
      color: #fff
      background: #38a4ff
      border: 1px solid transparent

  &.warning
    color: #fff
    background: #f4e700
    border: 1px solid transparent

    &:hover
      color: #f4e700
      border: 1px solid #f4e700
      background: #fff

  &.warning-border
    color: #f4e700
    border: 1px solid #f4e700
    background: #fff

    &:hover
      color: #fff
      background: #f4e700
      border: 1px solid transparent

  &.danger
    color: #fff
    background: #f44a40
    border: 1px solid transparent

    &:hover
      color: #f44a40
      border: 1px solid #f44a40
      background: #fff

  &.danger-border
    color: #f44a40
    border: 1px solid #f44a40
    background: #fff

    &:hover
      color: #fff
      background: #f44a40
      border: 1px solid transparent

  &.link
    color: #222
    background: #f9f9ff
    text-decoration: underline
    border: 1px solid transparent

    &:hover
      color: #222
      border: 1px solid #f9f9ff
      background: #fff

  &.link-border
    color: #222
    border: 1px solid #f9f9ff
    background: #fff
    text-decoration: underline

    &:hover
      color: #222
      background: #f9f9ff
      border: 1px solid transparent

  &.disable
    color: #222,0.3
    background: #f9f9ff
    border: 1px solid transparent
    cursor: not-allowed

.generic-blockquote
  padding: 30px 50px 30px 30px
  background: #fff
  border-left: 2px solid #f7631b

@media (max-width: 991px)
  .progress-table-wrap
    overflow-x: scroll

.progress-table
  background: #fff
  padding: 15px 0px 30px 0px
  min-width: 800px

  .serial
    width: 11.83%
    padding-left: 30px

  .country
    width: 28.07%

  .visit
    width: 19.74%

  .percentage
    width: 40.36%
    padding-right: 50px

  .table-head
    display: flex

    .serial, .country, .visit, .percentage
      color: #222
      line-height: 40px
      text-transform: uppercase
      font-weight: 500

  .table-row
    padding: 15px 0
    border-top: 1px solid #edf3fd
    display: flex

    .serial, .country, .visit, .percentage
      display: flex
      align-items: center

    .country img
      margin-right: 15px

    .percentage .progress
      width: 80%
      border-radius: 0px
      background: transparent

      .progress-bar
        height: 5px
        line-height: 5px

        &.color-1
          background-color: #6382e6

        &.color-2
          background-color: #e66686

        &.color-3
          background-color: #f09359

        &.color-4, &.color-5
          background-color: #73fbaf

        &.color-6
          background-color: #6382e6

        &.color-7
          background-color: #a367e7

        &.color-8
          background-color: #e66686

.single-gallery-image
  margin-top: 30px
  background-repeat: no-repeat !important
  background-position: center center !important
  background-size: cover !important
  height: 200px
  -webkit-transition: all 0.3s ease 0s
  -moz-transition: all 0.3s ease 0s
  -o-transition: all 0.3s ease 0s
  transition: all 0.3s ease 0s

  &:hover
    opacity: .8

.list-style
  width: 14px
  height: 14px

.unordered-list li
  position: relative
  padding-left: 30px
  line-height: 1.82em !important

  &:before
    content: ""
    position: absolute
    width: 14px
    height: 14px
    border: 3px solid #f7631b
    background: #fff
    top: 4px
    left: 0
    border-radius: 50%

.ordered-list
  margin-left: 30px

  li
    list-style-type: decimal-leading-zero
    color: #f7631b
    font-weight: 500
    line-height: 1.82em !important

    span
      font-weight: 300
      color: #777

.ordered-list-alpha li
  margin-left: 30px
  list-style-type: lower-alpha
  color: #f7631b
  font-weight: 500
  line-height: 1.82em !important

  span
    font-weight: 300
    color: #777

.ordered-list-roman li
  margin-left: 30px
  list-style-type: lower-roman
  color: #f7631b
  font-weight: 500
  line-height: 1.82em !important

  span
    font-weight: 300
    color: #777

.single-input
  display: block
  width: 100%
  line-height: 40px
  border: none
  outline: none
  background: #fff
  padding: 0 20px

  &:focus
    outline: none

.input-group-icon
  position: relative

  .icon
    position: absolute
    left: 20px
    top: 0
    line-height: 40px
    z-index: 3

    i
      color: #797979

  .single-input
    padding-left: 45px

.single-textarea
  display: block
  width: 100%
  line-height: 40px
  border: none
  outline: none
  background: #fff
  padding: 0 20px
  height: 100px
  resize: none

  &:focus
    outline: none

.single-input-primary
  display: block
  width: 100%
  line-height: 40px
  border: 1px solid transparent
  outline: none
  background: #fff
  padding: 0 20px

  &:focus
    outline: none
    border: 1px solid #f7631b

.single-input-accent
  display: block
  width: 100%
  line-height: 40px
  border: 1px solid transparent
  outline: none
  background: #fff
  padding: 0 20px

  &:focus
    outline: none
    border: 1px solid #eb6b55

.single-input-secondary
  display: block
  width: 100%
  line-height: 40px
  border: 1px solid transparent
  outline: none
  background: #fff
  padding: 0 20px

  &:focus
    outline: none
    border: 1px solid #f09359

.default-switch
  width: 35px
  height: 17px
  border-radius: 8.5px
  background: #fff
  position: relative
  cursor: pointer

  input
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0
    width: 100%
    height: 100%
    opacity: 0
    cursor: pointer

    + label
      position: absolute
      top: 1px
      left: 1px
      width: 15px
      height: 15px
      border-radius: 50%
      background: #f7631b
      -webkit-transition: all 0.2s
      -moz-transition: all 0.2s
      -o-transition: all 0.2s
      transition: all 0.2s
      box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2)
      cursor: pointer

    &:checked + label
      left: 19px

.single-element-widget
  margin-bottom: 30px

.primary-switch
  width: 35px
  height: 17px
  border-radius: 8.5px
  background: #fff
  position: relative
  cursor: pointer

  input
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0
    width: 100%
    height: 100%
    opacity: 0

    + label
      position: absolute
      left: 0
      top: 0
      right: 0
      bottom: 0
      width: 100%
      height: 100%

      &:before
        content: ""
        position: absolute
        left: 0
        top: 0
        right: 0
        bottom: 0
        width: 100%
        height: 100%
        background: transparent
        border-radius: 8.5px
        cursor: pointer
        -webkit-transition: all 0.2s
        -moz-transition: all 0.2s
        -o-transition: all 0.2s
        transition: all 0.2s

      &:after
        content: ""
        position: absolute
        top: 1px
        left: 1px
        width: 15px
        height: 15px
        border-radius: 50%
        background: #fff
        -webkit-transition: all 0.2s
        -moz-transition: all 0.2s
        -o-transition: all 0.2s
        transition: all 0.2s
        box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2)
        cursor: pointer

    &:checked + label
      &:after
        left: 19px

      &:before
        background: #f7631b

.confirm-switch
  width: 35px
  height: 17px
  border-radius: 8.5px
  background: #fff
  position: relative
  cursor: pointer

  input
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0
    width: 100%
    height: 100%
    opacity: 0

    + label
      position: absolute
      left: 0
      top: 0
      right: 0
      bottom: 0
      width: 100%
      height: 100%

      &:before
        content: ""
        position: absolute
        left: 0
        top: 0
        right: 0
        bottom: 0
        width: 100%
        height: 100%
        background: transparent
        border-radius: 8.5px
        -webkit-transition: all 0.2s
        -moz-transition: all 0.2s
        -o-transition: all 0.2s
        transition: all 0.2s
        cursor: pointer

      &:after
        content: ""
        position: absolute
        top: 1px
        left: 1px
        width: 15px
        height: 15px
        border-radius: 50%
        background: #fff
        -webkit-transition: all 0.2s
        -moz-transition: all 0.2s
        -o-transition: all 0.2s
        transition: all 0.2s
        box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2)
        cursor: pointer

    &:checked + label
      &:after
        left: 19px

      &:before
        background: #4cd3e3

.primary-checkbox
  width: 16px
  height: 16px
  border-radius: 3px
  background: #fff
  position: relative
  cursor: pointer

  input
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0
    width: 100%
    height: 100%
    opacity: 0

    + label
      position: absolute
      left: 0
      top: 0
      right: 0
      bottom: 0
      width: 100%
      height: 100%
      border-radius: 3px
      cursor: pointer
      border: 1px solid #f1f1f1

    &:checked + label
      background: url(images/elements/primary-check.png) no-repeat center (center / cover)
      border: none

.confirm-checkbox
  width: 16px
  height: 16px
  border-radius: 3px
  background: #fff
  position: relative
  cursor: pointer

  input
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0
    width: 100%
    height: 100%
    opacity: 0

    + label
      position: absolute
      left: 0
      top: 0
      right: 0
      bottom: 0
      width: 100%
      height: 100%
      border-radius: 3px
      cursor: pointer
      border: 1px solid #f1f1f1

    &:checked + label
      background: url(elements/success-check.png) no-repeat center (center / cover)
      border: none

.disabled-checkbox
  width: 16px
  height: 16px
  border-radius: 3px
  background: #fff
  position: relative
  cursor: pointer

  input
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0
    width: 100%
    height: 100%
    opacity: 0

    + label
      position: absolute
      left: 0
      top: 0
      right: 0
      bottom: 0
      width: 100%
      height: 100%
      border-radius: 3px
      cursor: pointer
      border: 1px solid #f1f1f1

    &:disabled
      cursor: not-allowed
      z-index: 3

    &:checked + label
      background: url(elements/disabled-check.png) no-repeat center (center / cover)
      border: none

.primary-radio
  width: 16px
  height: 16px
  border-radius: 8px
  background: #fff
  position: relative
  cursor: pointer

  input
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0
    width: 100%
    height: 100%
    opacity: 0

    + label
      position: absolute
      left: 0
      top: 0
      right: 0
      bottom: 0
      width: 100%
      height: 100%
      border-radius: 8px
      cursor: pointer
      border: 1px solid #f1f1f1

    &:checked + label
      background: url(elements/primary-radio.png) no-repeat center (center / cover)
      border: none

.confirm-radio
  width: 16px
  height: 16px
  border-radius: 8px
  background: #fff
  position: relative
  cursor: pointer

  input
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0
    width: 100%
    height: 100%
    opacity: 0

    + label
      position: absolute
      left: 0
      top: 0
      right: 0
      bottom: 0
      width: 100%
      height: 100%
      border-radius: 8px
      cursor: pointer
      border: 1px solid #f1f1f1

    &:checked + label
      background: url(elements/success-radio.png) no-repeat center (center / cover)
      border: none

.disabled-radio
  width: 16px
  height: 16px
  border-radius: 8px
  background: #fff
  position: relative
  cursor: pointer

  input
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0
    width: 100%
    height: 100%
    opacity: 0

    + label
      position: absolute
      left: 0
      top: 0
      right: 0
      bottom: 0
      width: 100%
      height: 100%
      border-radius: 8px
      cursor: pointer
      border: 1px solid #f1f1f1

    &:disabled
      cursor: not-allowed
      z-index: 3

    &:checked + label
      background: url(elements/disabled-radio.png) no-repeat center (center / cover)
      border: none

.default-select
  height: 40px

  .nice-select
    border: none
    border-radius: 0px
    height: 40px
    background: #fff
    padding-left: 20px
    padding-right: 40px

    .list
      margin-top: 0
      border: none
      border-radius: 0px
      box-shadow: none
      width: 100%
      padding: 10px 0 10px 0px

      .option
        font-weight: 300
        -webkit-transition: all 0.3s ease 0s
        -moz-transition: all 0.3s ease 0s
        -o-transition: all 0.3s ease 0s
        transition: all 0.3s ease 0s
        line-height: 28px
        min-height: 28px
        font-size: 12px
        padding-left: 20px

        &.selected, &:hover
          color: #f7631b
          background: transparent

  .current
    margin-right: 50px
    font-weight: 300

  .nice-select::after
    right: 20px

@media (max-width: 991px)
  .left-align-p p
    margin-top: 20px

.form-select
  height: 40px
  width: 100%

  .nice-select
    border: none
    border-radius: 0px
    height: 40px
    background: #fff !important
    padding-left: 45px
    padding-right: 40px
    width: 100%

    .list
      margin-top: 0
      border: none
      border-radius: 0px
      box-shadow: none
      width: 100%
      padding: 10px 0 10px 0px

      .option
        font-weight: 300
        -webkit-transition: all 0.3s ease 0s
        -moz-transition: all 0.3s ease 0s
        -o-transition: all 0.3s ease 0s
        transition: all 0.3s ease 0s
        line-height: 28px
        min-height: 28px
        font-size: 12px
        padding-left: 45px

        &.selected, &:hover
          color: #f7631b
          background: transparent

  .current
    margin-right: 50px
    font-weight: 300

  .nice-select::after
    right: 20px

.header-top
  background: #04091e
  font-size: 12px
  padding: 8px

  a
    color: #fff

  ul li
    display: inline-block
    margin-left: 15px

  .header-top-left
    text-align: left

    i
      -webkit-transition: all 0.3s ease 0s
      -moz-transition: all 0.3s ease 0s
      -o-transition: all 0.3s ease 0s
      transition: all 0.3s ease 0s

    a
      margin-right: 10px

      &:hover
        -webkit-transition: all 0.3s ease 0s
        -moz-transition: all 0.3s ease 0s
        -o-transition: all 0.3s ease 0s
        transition: all 0.3s ease 0s

        i
          color: #f7631b

  .header-top-right
    text-align: right

    a
      margin-right: 10px

      .lnr
        display: none
        font-weight: 700

@media (max-width: 480px)
  .header-top .header-top-right a
    .lnr
      display: inline-block

    .text
      display: none

.top-head-btn
  background: #f7631b
  padding: 9px 26px

.main-menu
  padding-bottom: 20px
  padding-top: 20px
  border-bottom: 1px solid #39353e

#header
  position: fixed
  left: 0
  top: 0
  right: 0
  transition: all 0.5s
  z-index: 997

  &.header-scrolled
    transition: all 0.5s
    background-color: rgba(4, 9, 30, 0.9)

    .main-menu
      border-color: transparent

  #logo
    h1
      font-size: 34px
      margin: 0
      padding: 0
      line-height: 1
      font-weight: 700
      letter-spacing: 3px

      a
        color: #000
        padding-left: 10px
        border-left: 4px solid #f7631b

        &:hover
          color: #000
          padding-left: 10px
          border-left: 4px solid #f7631b

    img
      padding: 0
      margin: 0

@media (max-width: 673px)
  #logo
    margin-left: 20px

@media (max-width: 768px)
  #header #logo
    h1
      font-size: 28px

    img
      max-height: 40px

.nav-menu
  margin: 0
  padding: 0
  list-style: none

  *
    margin: 0
    padding: 0
    list-style: none

  ul
    position: absolute
    display: none
    top: 100%
    right: 0
    z-index: 99

  li
    position: relative
    white-space: nowrap

    &:hover > ul, &.sfHover > ul
      display: block

  > li
    float: left

  ul
    ul
      top: 0
      right: 100%

    li
      min-width: 180px

.sf-arrows
  .sf-with-ul
    padding-right: 30px

    &:after
      content: "\f107"
      position: absolute
      right: 15px
      font-family: FontAwesome
      font-style: normal
      font-weight: normal

  ul .sf-with-ul:after
    content: "\f105"

@media (max-width: 768px)
  #nav-menu-container
    display: none

.nav-menu
  a
    padding: 0 8px 0px 8px
    text-decoration: none
    display: inline-block
    color: #fff
    font-weight: 500
    font-size: 12px
    text-transform: uppercase
    outline: none

  li:hover > a
    color: #f7631b

  > li
    margin-left: 10px

  ul
    margin: 24px 0 0 0
    padding: 10px
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25)
    background: #fff

    li
      transition: 0.3s

      a
        padding: 5px 10px
        color: #333
        transition: 0.3s
        display: block
        font-size: 12px
        text-transform: none

      &:hover > a
        color: #f7631b

    ul
      margin-right: 10px
      margin-top: 0

#mobile-nav-toggle
  position: fixed
  right: 15px
  z-index: 999
  top: 62px
  border: 0
  background: none
  font-size: 24px
  display: none
  transition: all 0.4s
  outline: none
  cursor: pointer

  i
    color: #fff
    font-weight: 900

@media (max-width: 960px)
  #mobile-nav-toggle
    display: inline

  #nav-menu-container
    display: none

#mobile-nav
  position: fixed
  top: 0
  padding-top: 18px
  bottom: 0
  z-index: 998
  background: rgba(0, 0, 0, 0.8)
  left: -260px
  width: 260px
  overflow-y: auto
  transition: 0.4s

  ul
    padding: 0
    margin: 0
    list-style: none

    li
      position: relative

      a
        color: #fff
        font-size: 13px
        text-transform: uppercase
        overflow: hidden
        padding: 10px 22px 10px 15px
        position: relative
        text-decoration: none
        width: 100%
        display: block
        outline: none
        font-weight: 400

        &:hover
          color: #fff

      li
        padding-left: 30px

    .menu-has-children
      i
        position: absolute
        right: 0
        z-index: 99
        padding: 15px
        cursor: pointer
        color: #fff

        &.fa-chevron-up
          color: #f7631b

      li a
        text-transform: none

    .menu-item-active
      color: #f7631b

#mobile-body-overly
  width: 100%
  height: 100%
  z-index: 997
  top: 0
  left: 0
  position: fixed
  background: rgba(0, 0, 0, 0.7)
  display: none

body.mobile-nav-active
  overflow: hidden

  #mobile-nav
    left: 0

  #mobile-nav-toggle
    color: #fff

.section-gap
  padding: 20px 0

.alert-msg
  color: #008000

.primary-btn
  background: #f7631b
  line-height: 42px
  padding-left: 30px
  padding-right: 30px
  border: none
  color: #fff
  display: inline-block
  font-weight: 500
  position: relative
  -webkit-transition: all 0.3s ease 0s
  -moz-transition: all 0.3s ease 0s
  -o-transition: all 0.3s ease 0s
  transition: all 0.3s ease 0s
  cursor: pointer
  position: relative

  &:focus
    outline: none

  span
    color: #fff
    position: absolute
    top: 50%
    transform: translateY(-60%)
    right: 30px
    -webkit-transition: all 0.3s ease 0s
    -moz-transition: all 0.3s ease 0s
    -o-transition: all 0.3s ease 0s
    transition: all 0.3s ease 0s

  &:hover
    color: #fff

    span
      color: #fff
      right: 20px

  &.white
    border: 1px solid #fff
    color: #fff

    span
      color: #fff

    &:hover
      background: #fff
      color: #f7631b

      span
        color: #f7631b

  &.wh
    background: #fff
    color: #222
    text-transform: uppercase

    &:hover
      background: #222
      color: #fff

  &.squire
    border-radius: 0px !important
    border: 1px solid transparent

    &:hover
      border: 1px solid #fff
      background: transparent
      color: #fff

.overlay
  position: absolute
  left: 0
  right: 0
  top: 0
  bottom: 0

.section-title
  text-align: center
  display: block
  margin-left: auto
  margin-right: auto
  margin-bottom: 80px

  h1
    margin-bottom: 10px

.banner-area
  background: url(banner-bg.jpg) right
  background-size: cover

  .overlay-bg
    background-color: rgba(4, 9, 30, 0.8)

@media (max-width: 767px)
  .fullscreen
    height: 700px !important

.banner-content
  text-align: left

  h1
    font-size: 48px
    font-weight: 700
    line-height: 1em
    margin-top: 10px
    color: #fff

  .primary-btn
    background-color: #f7631b
    color: #fff
    font-weight: 600
    font-size: 14px

    &:hover
      background-color: #fff
      color: #f7631b

@media (max-width: 991.98px)
  .banner-content h1
    font-size: 36px

@media (max-width: 991.98px)
  .banner-content h1 br
    display: none

@media (max-width: 1199.98px)
  .banner-content h1
    font-size: 45px

@media (max-width: 480px)
  .banner-content h1
    font-size: 32px

.feature-area
  margin-top: -62px

.single-feature
  text-align: center

  .title
    background: rgba(255, 255, 255, 0.15)
    padding: 20px 0px
    -webkit-transition: all 0.3s ease 0s
    -moz-transition: all 0.3s ease 0s
    -o-transition: all 0.3s ease 0s
    transition: all 0.3s ease 0s

    h4
      color: #fff

  .desc-wrap
    padding: 20px
    background-color: #fff
    box-shadow: 0px 10px 30px 0px rgba(153, 153, 153, 0.1)

    a
      font-size: 14px
      font-weight: 600
      -webkit-transition: all 0.3s ease 0s
      -moz-transition: all 0.3s ease 0s
      -o-transition: all 0.3s ease 0s
      transition: all 0.3s ease 0s
      color: #222

  &:hover
    cursor: pointer

    .title
      background: #f7631b

    .desc-wrap a
      color: #f7631b

.single-feature_lesson_left
  text-align: left

  .title
    //background: rgba(255, 255, 255, 0.15)
    padding: 20px 0px
    -webkit-transition: all 0.3s ease 0s
    -moz-transition: all 0.3s ease 0s
    -o-transition: all 0.3s ease 0s
    transition: all 0.3s ease 0s

.single-feature_lesson_right
  text-align: right

  .title
    //background: rgba(255, 255, 255, 0.15)
    padding: 20px 0px
    -webkit-transition: all 0.3s ease 0s
    -moz-transition: all 0.3s ease 0s
    -o-transition: all 0.3s ease 0s
    transition: all 0.3s ease 0s

@media (max-width: 991px)
  .single-feature
    margin-bottom: 30px

    .title
      background: #f7631b

.popular-course-area
  .owl-dots
    text-align: center
    bottom: 5px
    margin-top: 40px
    width: 100%
    -webkit-backface-visibility: hidden
    -moz-backface-visibility: hidden
    -ms-backface-visibility: hidden
    backface-visibility: hidden

  .owl-dot
    height: 10px
    width: 10px
    display: inline-block
    background: rgba(127, 127, 127, 0.5)
    margin-left: 5px
    margin-right: 5px
    -webkit-transition: all 0.3s ease 0s
    -moz-transition: all 0.3s ease 0s
    -o-transition: all 0.3s ease 0s
    transition: all 0.3s ease 0s

    &.active
      -webkit-transition: all 0.3s ease 0s
      -moz-transition: all 0.3s ease 0s
      -o-transition: all 0.3s ease 0s
      transition: all 0.3s ease 0s
      background: #f7631b

.single-popular-carusel
  .thumb
    overflow: hidden

    img
      width: 100%
      -webkit-transition: all 0.3s ease 0s
      -moz-transition: all 0.3s ease 0s
      -o-transition: all 0.3s ease 0s
      transition: all 0.3s ease 0s

  .meta
    margin-top: -26px
    z-index: 2
    position: inherit
    padding: 0px 10px

    p
      font-size: 12px
      font-weight: 300
      color: #fff
      margin-bottom: 0px

      .lnr
        margin: 0px 5px

    h4
      color: #fff

  .details h4
    -webkit-transition: all 0.3s ease 0s
    -moz-transition: all 0.3s ease 0s
    -o-transition: all 0.3s ease 0s
    transition: all 0.3s ease 0s
    margin: 20px 0px

    &:hover
      color: #f7631b !important

  &:hover .thumb img
    transform: scale(1.1)

@media (max-width: 576px)
  .single-popular-carusel
    margin: 15px

.search-course-area
  background: url(s-bg.jpg) center
  background-size: cover

  .overlay-bg
    background: rgba(4, 9, 30, 0.8)

  .search-course-left
    h1
      margin-bottom: 20px

    p
      font-size: 12px

  .search-course-right
    background: rgba(255, 255, 255, 0.1)

    .form-wrap
      padding: 0px 40px

      .form-control
        margin-bottom: 5px
        border-radius: 0px
        padding: 0.675rem 0.75rem
        font-size: 13px
        font-weight: 300

      .current
        margin-left: -32px
        font-size: 13px

      .form-select .nice-select .list .option
        padding-left: 15px

      .primary-btn
        width: 100%
        margin-top: 5px

  .details-content
    margin-top: 50px

    .single-detials
      span
        color: #f7631b
        font-size: 30px

      h4
        margin: 20px 0px
        color: #fff

      p
        margin-bottom: 0px

@media (max-width: 991px)
  .search-course-area .search-course-left h1
    font-size: 30px

@media (max-width: 991px)
  .search-course-area .search-course-left
    padding-top: 120px
    margin-bottom: 40px

@media (max-width: 991px) and (min-width: 768px)
  .search-course-area .details-content .single-detials h4
    font-size: 12px

.active-upcoming-event-carusel
  .owl-dots
    display: inline-grid
    -webkit-backface-visibility: hidden
    -moz-backface-visibility: hidden
    -ms-backface-visibility: hidden
    backface-visibility: hidden
    position: absolute
    left: 101%
    top: 40%

  .owl-dot
    height: 10px
    width: 10px
    display: inline-block
    background: rgba(127, 127, 127, 0.5)
    margin-left: 5px
    margin-right: 5px
    margin-bottom: 5px
    -webkit-transition: all 0.3s ease 0s
    -moz-transition: all 0.3s ease 0s
    -o-transition: all 0.3s ease 0s
    transition: all 0.3s ease 0s

    &.active
      -webkit-transition: all 0.3s ease 0s
      -moz-transition: all 0.3s ease 0s
      -o-transition: all 0.3s ease 0s
      transition: all 0.3s ease 0s
      background: #f7631b

@media (max-width: 1024px)
  .active-upcoming-event-carusel .owl-controls
    display: none

@media (max-width: 576px)
  .single-carusel
    margin: 15px

.single-carusel
  h4
    margin-top: 20px
    margin-bottom: 20px

  p
    margin-top: 0px !important
    margin-bottom: 0px

  .thumb
    overflow: hidden

    img
      -webkit-transition: all 0.3s ease 0s
      -moz-transition: all 0.3s ease 0s
      -o-transition: all 0.3s ease 0s
      transition: all 0.3s ease 0s
      width: 100%

  .detials
    h4
      -webkit-transition: all 0.3s ease 0s
      -moz-transition: all 0.3s ease 0s
      -o-transition: all 0.3s ease 0s
      transition: all 0.3s ease 0s

      &:hover
        color: #f7631b

    p
      margin-top: 20px

  &:hover .thumb img
    transform: scale(1.05) rotate(-1.05deg)

.review-area
  background: #f9f9ff

  h4
    color: #222

  .owl-carousel .owl-item img
    width: auto !important

  .owl-dots
    text-align: center
    bottom: 5px
    margin-top: 20px
    width: 100%
    -webkit-backface-visibility: hidden
    -moz-backface-visibility: hidden
    -ms-backface-visibility: hidden
    backface-visibility: hidden

  .owl-dot
    height: 10px
    width: 10px
    display: inline-block
    background: rgba(127, 127, 127, 0.5)
    margin-left: 5px
    margin-right: 5px
    -webkit-transition: all 0.3s ease 0s
    -moz-transition: all 0.3s ease 0s
    -o-transition: all 0.3s ease 0s
    transition: all 0.3s ease 0s

    &.active
      -webkit-transition: all 0.3s ease 0s
      -moz-transition: all 0.3s ease 0s
      -o-transition: all 0.3s ease 0s
      transition: all 0.3s ease 0s
      background: #f7631b

.single-review
  .title
    margin: 20px 0

  .star
    margin-left: 30px

    .checked
      color: orange

@media (max-width: 414px)
  .single-review
    padding: 15px

.single-blog
  .thumb
    overflow: hidden

    img
      width: 100%
      -webkit-transition: all 0.3s ease 0s
      -moz-transition: all 0.3s ease 0s
      -o-transition: all 0.3s ease 0s
      transition: all 0.3s ease 0s

  &:hover
    img
      transform: scale(1.1)

    h5
      color: #f7631b

  h5
    margin-bottom: 12px
    -webkit-transition: all 0.3s ease 0s
    -moz-transition: all 0.3s ease 0s
    -o-transition: all 0.3s ease 0s
    transition: all 0.3s ease 0s
    border-bottom: 1px solid #eee
    padding-bottom: 20px

  a
    color: #777

  .meta
    font-weight: 400
    text-align: left
    margin-top: 40px

  .details-btn
    border: 1px solid #eee
    width: 40px
    height: 40px
    border-radius: 20px
    display: -webkit-box
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flexbox
    display: flex
    overflow: hidden

    .details
      visibility: hidden
      opacity: 0
      margin-left: -53px
      font-weight: 600
      text-transform: uppercase
      display: -webkit-box
      display: -webkit-flex
      display: -moz-flex
      display: -ms-flexbox
      display: flex

    .lnr
      color: #222
      line-height: inherit

    &:hover
      width: 140px
      background: #f7631b
      box-shadow: 0px 10px 20px 0px rgba(60, 64, 143, 0.2)

      .details
        margin-left: 0
        visibility: visible
        opacity: 1
        margin-right: 8px

      span
        color: #fff
        font-weight: 600

@media (max-width: 991px)
  .single-blog
    margin-bottom: 30px

.cta-one-area
  background: url(cta-bg.jpg) center
  background-size: cover
  text-align: center
  color: #fff

  h1
    position: relative

  p
    position: relative
    max-width: 670px
    margin: 20px 0px

  .overlay-bg
    background: rgba(4, 9, 30, 0.2)

@media (max-width: 576px)
  .cta-one-area p
    padding: 0% 5%

.cta-two-area
  background: #f7631b
  padding: 90px 0px

  .cta-left
    text-align: left

    h1
      color: #fff
      font-weight: 700

  .cta-right
    text-align: right

@media (max-width: 991px)
  .cta-two-area .cta-right
    text-align: left
    margin-top: 20px

.link-nav
  margin-top: 10px
  margin-bottom: 0px

.about-banner
  background: url(top-banner.jpg) right no-repeat
  background-size: cover

.about-content
  margin-top: 110px
  padding: 90px 0px
  text-align: center

  h1
    font-size: 48px
    font-weight: 600

  a
    color: #fff
    font-weight: 300
    font-size: 14px

  .lnr
    margin: 0px 10px
    font-weight: 600

@media (max-width: 767px)
  .about-content
    margin-top: 70px

.info-area
  .info-area-left img
    width: 100%

  .info-area-right
    padding-left: 80px

    h1
      max-width: 400px
      margin-bottom: 20px

    p
      max-width: 450px
      margin-bottom: 0px

@media (max-width: 1024px) and (min-width: 991px)
  .info-area .info-area-right h1
    font-size: 23px

@media (max-width: 1024px)
  .info-area .info-area-right
    padding-left: 15px

@media (max-width: 991px)
  .info-area .info-area-right
    h1, p
      max-width: 100%

@media (max-width: 991px)
  .info-area .info-area-right
    margin-top: 50px

.accordion >
dt
  margin-bottom: 10px
  font-size: 14px
  font-weight: 400

  > a
    display: block
    position: relative
    color: #222222
    text-decoration: none
    padding: 8px 20px
    background: #f9f9ff

    &:hover
      text-decoration: none

    &.active
      color: #fff
      border-color: #ddd
      background: #f7631b
      cursor: default

    &:after
      content: "\f107"
      width: 15px
      height: 15px
      margin-top: -8px
      position: absolute
      top: 50%
      right: 10px
      font-family: 'FontAwesome'
      speak: none
      font-style: normal
      font-weight: normal
      font-variant: normal
      text-transform: none
      font-size: 15px
      line-height: 15px
      text-align: center
      color: #111
      -webkit-font-smoothing: antialiased

    &.active
      &:after, &:hover:after
        content: "\f106"
        color: #fff

    &:hover:after
      color: #444

  dd
    margin-bottom: 10px
    padding: 10px 20px 20px
    font-size: 14px
    line-height: 1.8
    color: #777

  dt > a
    -webkit-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1)
    -moz-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1)
    -o-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1)
    -ms-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1)
    transition: all 0.27s cubic-bezier(0, 0, 0.58, 1)

    &:after
      -webkit-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1)
      -moz-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1)
      -o-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1)
      -ms-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1)
      transition: all 0.27s cubic-bezier(0, 0, 0.58, 1)

.toggle > dt > a
  -webkit-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1)
  -moz-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1)
  -o-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1)
  -ms-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1)
  transition: all 0.27s cubic-bezier(0, 0, 0.58, 1)

  &:after
    -webkit-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1)
    -moz-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1)
    -o-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1)
    -ms-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1)
    transition: all 0.27s cubic-bezier(0, 0, 0.58, 1)

dl.accordion.time-line
  position: relative

  &:before
    border-left: 1px dashed #cecece
    bottom: 10px
    content: ""
    left: 15px
    position: absolute
    top: 25px
    z-index: 0

.accordion.time-line >
dd
  margin-bottom: 10px
  padding: 10px 20px 20px 40px
  font-size: 14px
  line-height: 1.8
  color: #777

  dt > a
    &:after
      content: "\e648"
      width: 30px
      height: 30px
      line-height: 30px
      margin-top: -15px
      position: absolute
      top: 50%
      left: 0
      font-family: 'icomoon'
      speak: none
      font-style: normal
      font-weight: bold
      font-variant: normal
      text-transform: none
      font-size: 20px
      text-align: center
      color: #fff
      -webkit-font-smoothing: antialiased
      background: #222
      padding-left: 3px

    &.active
      &:after, &:hover:after
        content: "\e641"
        color: #fff

    display: block
    position: relative
    color: #222222
    text-decoration: none
    padding: 14px 20px 14px 40px
    border: none
    letter-spacing: 3px

    &:hover, &.active
      background: none !important

.toggle >
dt
  margin-bottom: 10px
  font-size: 13px
  font-weight: 400

  > a
    display: block
    position: relative
    color: #222222
    text-decoration: none
    padding: 8px 20px
    border-bottom: 1px solid #eee

    &:hover
      text-decoration: none
      border-color: #e8e8e8

    &.active
      color: #f7631b
      border-color: #f7631b

    &:after
      content: "\f107"
      width: 15px
      height: 15px
      margin-top: -8px
      position: absolute
      top: 50%
      right: 10px
      font-family: 'FontAwesome'
      speak: none
      font-style: normal
      font-weight: normal
      font-variant: normal
      text-transform: none
      font-size: 15px
      line-height: 15px
      text-align: center
      color: #999
      -webkit-font-smoothing: antialiased

    &.active
      &:after, &:hover:after
        content: "\f106"
        color: #f7631b

    &:hover:after
      color: #444

  dd
    margin-bottom: 10px
    padding: 10px 20px 20px
    font-size: 14px
    line-height: 1.8
    color: #777

dl.toggle.time-line
  position: relative

  &:before
    border-left: 1px dashed #cecece
    bottom: 10px
    content: ""
    left: 15px
    position: absolute
    top: 25px
    z-index: 0

.toggle.time-line >
dd
  margin-bottom: 10px
  padding: 10px 20px 20px 40px
  font-size: 14px
  line-height: 1.8
  color: #777

  dt > a
    &:after
      content: "\e648"
      width: 30px
      height: 30px
      line-height: 30px
      margin-top: -15px
      position: absolute
      top: 50%
      left: 0
      font-family: 'icomoon'
      speak: none
      font-style: normal
      font-weight: bold
      font-variant: normal
      text-transform: none
      font-size: 20px
      text-align: center
      color: #fff
      -webkit-font-smoothing: antialiased
      background: #222
      padding-left: 3px

    &.active
      &:after, &:hover:after
        content: "\e641"
        color: #fff

    display: block
    position: relative
    color: #222222
    text-decoration: none
    padding: 14px 20px 14px 40px
    border: none
    letter-spacing: 3px

    &:hover, &.active
      background: none !important

.jq-tab-menu .jq-tab-title:first-child
  border-top: none

.video-right
  background: url(video-bg.jpg) no-repeat center
  background-size: cover
  height: 330px

  .overlay-bg
    background-color: rgba(34, 34, 34, 0.2)

  .play-btn
    z-index: 2

@media (max-width: 767px)
  .video-right
    margin-top: 50px

.courses-page
  .single-popular-carusel
    margin-bottom: 40px

  .primary-btn
    border: 1px solid transparent

    &:hover
      background: transparent
      border-color: #f7631b
      color: #f7631b

.section-box
  background-color: #f76314
  color: #ffffff
  margin-left: -5px
  padding-left: 5px
  padding-top: 7px
  height: 40px
  font-size: 20px
  font-weight: bold

.left-contents
  .jq-tab-wrapper
    -webkit-box-sizing: border-box
    box-sizing: border-box
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    width: 100%
    padding-top: 50px

    &.horizontal-tab
      -webkit-box-orient: vertical
      -webkit-box-direction: normal
      -ms-flex-direction: column
      flex-direction: column

  .jq-tab-menu
    -webkit-box-flex: 1
    -ms-flex: 1
    flex: 1

    .jq-tab-title
      color: #000
      font-size: 12px
      font-weight: 500
      border: none
      cursor: pointer
      padding: 6px 25px
      text-align: center
      -webkit-transition: all 0.3s ease 0s
      -moz-transition: all 0.3s ease 0s
      -o-transition: all 0.3s ease 0s
      transition: all 0.3s ease 0s

      &:hover, &.active
        color: #f7631b
        background: transparent
        border-bottom: 1px solid #f7631b

  .horizontal-tab .jq-tab-menu
    display: -webkit-inline-box
    display: -ms-inline-flexbox
    display: inline-flex

  .jq-tab-content-wrapper
    -webkit-box-flex: 4
    -ms-flex: 4
    flex: 4

  .jq-tab-content
    display: none
    padding: 1em 1.8em
    font-size: 14px
    font-weight: 300

  #verticalTab .jq-tab-content-wrapper
    border: 1px solid #eee

  #horizontalTab .jq-tab-content-wrapper
    background: #f9f9ff

  .jq-tab-content.active
    display: block

  .course-list li
    margin-bottom: 20px

    .primary-btn
      background: #fff
      color: #222

      &:hover
        background: #f7631b
        color: #fff

  .comments-area
    padding: 0px 20px
    margin-top: 50px
    background: transparent !important
    border: none !important

    h4
      text-align: center
      margin-bottom: 50px
      font-weight: 600

    a
      color: #222

    .comment-list
      padding-bottom: 30px

      &:last-child
        padding-bottom: 0px

      &.left-padding
        padding-left: 25px

    .thumb
      margin-right: 20px

    .desc h5
      font-weight: 600
      -webkit-transition: all 0.3s ease 0s
      -moz-transition: all 0.3s ease 0s
      -o-transition: all 0.3s ease 0s
      transition: all 0.3s ease 0s

      &:hover a
        color: #f7631b !important

    .date
      font-size: 13px
      color: #cccccc

    .comment
      color: #777777
      margin-bottom: 0px

    .btn-reply
      background-color: #fcfaff
      color: #222
      font-weight: 400
      padding: 8px 30px
      display: block
      -webkit-transition: all 0.3s ease 0s
      -moz-transition: all 0.3s ease 0s
      -o-transition: all 0.3s ease 0s
      transition: all 0.3s ease 0s

      &:hover
        background: #f7631b
        color: #fff

  .comment-form
    border: none

  .star .checked
    color: #f7631b

  .reviews
    span, .star
      width: 25%
      margin-bottom: 10px

  .avg-review
    background: #04091e
    text-align: center
    color: #fff
    font-size: 14px
    font-weight: 600
    padding: 20px 0px

    span
      font-size: 18px
      color: #f7631b

  .single-reviews h5
    display: inline-flex

    .star
      margin-left: 10px

@media (max-width: 413px)
  .left-contents .jq-tab-menu
    display: initial !important

@media (max-width: 504px)
  .left-contents .jq-tab-menu .jq-tab-title
    padding: .9em .9em
    font-size: 10px

@media (max-width: 413px)
  .left-contents .comment-wrap
    padding: 0px !important

@media (max-width: 414px)
  .left-contents .course-list li
    font-size: 8px

@media (max-width: 414px)
  .left-contents .comments-area
    padding: 50px 8px

@media (max-width: 414px)
  .left-contents .comments-area .comment-list .single-comment
    h5
      font-size: 12px

    .date
      font-size: 11px

    .comment
      font-size: 10px

@media (max-width: 991px)
  .left-contents .avg-review
    margin-bottom: 20px

.right-contents
  ul li
    background: #f9f9ff
    padding: 10px 22px
    margin-bottom: 10px

    a
      color: #222
      text-align: left
      font-size: 14px
      font-weight: 400

      p
        margin-bottom: 0px

    .or
      color: #f7631b !important

  .primary-btn
    margin-top: 10px
    width: 100%
    background: #222
    text-align: center

@media (max-width: 991px)
  .right-contents
    margin-top: 30px

.event-page-lists
  .single-carusel
    margin-bottom: 50px

  .primary-btn
    border: 1px solid transparent

    &:hover
      color: #f7631b
      border-color: #f7631b
      background: transparent

.event-details-area
  .details-content h4
    margin: 20px 0px

  .social-nav
    padding-top: 50px

    .focials li
      text-align: right
      display: inline-block

      a
        color: #fff

        .fa-facebook
          width: 30px
          display: block
          text-align: center
          padding: 8px 0px
          background: #4b6eaa

        .fa-twitter
          width: 30px
          display: block
          text-align: center
          padding: 8px 0px
          background: #00c7f8

        .fa-dribbble
          width: 30px
          display: block
          text-align: center
          padding: 8px 0px
          background: #f982aa

        .fa-behance
          width: 30px
          display: block
          text-align: center
          padding: 8px 0px
          background: #0b8eff

    .navs
      text-align: right

      a
        background: #f9f9ff
        color: #222
        padding: 10px 25px
        -webkit-transition: all 0.3s ease 0s
        -moz-transition: all 0.3s ease 0s
        -o-transition: all 0.3s ease 0s
        transition: all 0.3s ease 0s
        font-size: 14px
        font-weight: 300
        text-transform: uppercase

        &:hover
          background: #f7631b
          color: #fff

      .nav-prev .lnr
        margin-right: 5px

      .nav-next .lnr
        margin-left: 5px

  .event-details-right .single-event-details
    background: #f9f9ff
    padding: 30px
    margin-bottom: 30px

    ul li
      font-size: 14px
      border-bottom: 1px solid #eee
      padding: 5px 0px

      &:last-child
        border-bottom: none

@media (max-width: 414px)
  .event-details-area .social-nav .navs a
    font-size: 12px

@media (max-width: 767px)
  .event-details-area .social-nav .navs
    margin-top: 30px
    text-align: left

@media (max-width: 991px)
  .event-details-area .event-details-right
    margin-top: 30px

.gallery-area .single-imgs
  margin-bottom: 30px

  img
    width: 100%

  .overlay-bg
    background: rgba(247, 99, 27, 0.85)
    opacity: 0
    -webkit-transition: all 0.3s ease 0s
    -moz-transition: all 0.3s ease 0s
    -o-transition: all 0.3s ease 0s
    transition: all 0.3s ease 0s
    z-index: 2

  &:hover .overlay-bg
    opacity: 1

.blog-home-banner
  background: url(blog/blog-home-banner.jpg) bottom
  background-size: cover
  padding: 130px 0px

  .primary-btn
    border-radius: 0px
    background: #fff
    color: #222
    font-weight: 600
    border: 1px solid transparent
    -webkit-transition: all 0.3s ease 0s
    -moz-transition: all 0.3s ease 0s
    -o-transition: all 0.3s ease 0s
    transition: all 0.3s ease 0s

    &:hover
      background: transparent
      border-color: #fff
      color: #fff

  .overlay-bg
    background: rgba(0, 0, 0, 0.5)

.blog-page
  background: #f9f9ff

.blog-header-content
  h1
    max-width: 500px
    margin-left: auto
    margin-right: auto

  p
    margin: 20px 0px

@media (max-width: 414px)
  .blog-header-content h1
    font-size: 30px

.top-category-widget-area
  background-color: #f9f9ff

  .single-cat-widget
    position: relative
    text-align: center

    .overlay-bg
      background: rgba(0, 0, 0, 0.85)
      margin: 7%
      -webkit-transition: all 0.3s ease 0s
      -moz-transition: all 0.3s ease 0s
      -o-transition: all 0.3s ease 0s
      transition: all 0.3s ease 0s

    img
      width: 100%

    .content-details
      top: 32%
      left: 0
      right: 0
      margin-left: auto
      margin-right: auto
      color: #fff
      bottom: 0px
      position: absolute

      h4
        color: #fff

      span
        display: inline-block
        background: #fff
        width: 60%
        height: 1%

    &:hover .overlay-bg
      background: rgba(247, 99, 27, 0.85)
      margin: 7%
      -webkit-transition: all 0.3s ease 0s
      -moz-transition: all 0.3s ease 0s
      -o-transition: all 0.3s ease 0s
      transition: all 0.3s ease 0s

@media (max-width: 991px)
  .top-category-widget-area .single-cat-widget
    margin-bottom: 50px

.post-content-area
  background-color: #f9f9ff

  .single-post
    margin-bottom: 50px

    .meta-details
      text-align: right
      margin-top: 35px

      .tags
        margin-bottom: 30px

        li
          display: inline-block
          font-size: 14px

          a
            color: #222
            -webkit-transition: all 0.3s ease 0s
            -moz-transition: all 0.3s ease 0s
            -o-transition: all 0.3s ease 0s
            transition: all 0.3s ease 0s

            &:hover
              color: #f7631b

    .user-name a, .date a, .view a, .comments a
      color: #777
      margin-right: 10px
      -webkit-transition: all 0.3s ease 0s
      -moz-transition: all 0.3s ease 0s
      -o-transition: all 0.3s ease 0s
      transition: all 0.3s ease 0s

    .user-name a:hover, .date a:hover, .view a:hover, .comments a:hover
      color: #f7631b

    .user-name .lnr, .date .lnr, .view .lnr, .comments .lnr
      font-weight: 900
      color: #222

    .feature-img img
      width: 100%

    .posts-title h3
      margin: 20px 0px

    .excert
      margin-bottom: 20px

    .primary-btn
      background: #fff !important
      color: #222 !important
      -webkit-transition: all 0.3s ease 0s
      -moz-transition: all 0.3s ease 0s
      -o-transition: all 0.3s ease 0s
      transition: all 0.3s ease 0s
      border-radius: 0px !important

      &:hover
        background: #f7631b !important
        color: #fff !important

@media (max-width: 767px)
  .post-content-area .single-post .meta-details
    text-align: left

@media (max-width: 1024px)
  .post-content-area .single-post .meta-details
    margin-top: 0px

.posts-list .posts-title h3
  -webkit-transition: all 0.3s ease 0s
  -moz-transition: all 0.3s ease 0s
  -o-transition: all 0.3s ease 0s
  transition: all 0.3s ease 0s

  &:hover
    color: #f7631b

.blog-pagination
  padding-top: 60px
  padding-bottom: 120px

  .page-link
    border-radius: 0

  .page-item
    border: none

.page-link
  background: transparent
  font-weight: 400

.blog-pagination
  .page-item.active .page-link
    background-color: #f7631b
    border-color: transparent
    color: #fff

  .page-link
    position: relative
    display: block
    padding: 0.5rem 0.75rem
    margin-left: -1px
    line-height: 1.25
    color: #777
    border: none

    .lnr
      font-weight: 600

  .page-item
    &:last-child .page-link, &:first-child .page-link
      border-radius: 0

  .page-link:hover
    color: #fff
    text-decoration: none
    background-color: #f7631b
    border-color: #eee

.sidebar-widgets
  padding-bottom: 120px

.widget-wrap
  background: #fafaff
  padding: 20px 0px
  border: 1px solid #eee

  .single-sidebar-widget
    margin: 30px 30px
    padding-bottom: 30px
    border-bottom: 1px solid #eee

    &:last-child
      border-bottom: none
      margin-bottom: 0px

  .search-widget
    form.search-form input[type=text]
      color: #fff
      padding: 10px 22px
      font-size: 14px
      border: none
      float: left
      width: 80%
      border-bottom-left-radius: 20px
      border-top-left-radius: 20px
      background: #f7631b

    \::-webkit-input-placeholder, ::-moz-placeholder, :-ms-input-placeholder, :-moz-placeholder
      color: #fff

    form.search-form
      button
        float: left
        width: 20%
        padding: 10px
        background: #f7631b
        color: #fff
        font-size: 17px
        border: none
        cursor: pointer
        border-bottom-right-radius: 20px
        border-top-right-radius: 20px

      &::after
        content: ""
        clear: both
        display: table

  .user-info-widget
    text-align: center

    a h4
      margin-top: 40px
      margin-bottom: 5px
      -webkit-transition: all 0.3s ease 0s
      -moz-transition: all 0.3s ease 0s
      -o-transition: all 0.3s ease 0s
      transition: all 0.3s ease 0s

    .social-links li
      display: inline-block
      margin-bottom: 10px

      a
        color: #222
        padding: 10px
        font-size: 14px
        -webkit-transition: all 0.3s ease 0s
        -moz-transition: all 0.3s ease 0s
        -o-transition: all 0.3s ease 0s
        transition: all 0.3s ease 0s

        &:hover
          color: #f7631b

  .popular-post-widget
    .popular-title
      background: #f7631b
      color: #fff
      text-align: center
      padding: 12px 0px

    .popular-post-list
      margin-top: 30px

      .thumb img
        width: 100%

    .single-post-list
      margin-bottom: 20px

      .details
        margin-left: 12px

        h6
          font-weight: 600
          margin-bottom: 10px
          -webkit-transition: all 0.3s ease 0s
          -moz-transition: all 0.3s ease 0s
          -o-transition: all 0.3s ease 0s
          transition: all 0.3s ease 0s

          &:hover
            color: #f7631b

        p
          margin-bottom: 0px

  .ads-widget img
    width: 100%

  .post-category-widget
    .category-title
      background: #f7631b
      color: #fff
      text-align: center
      padding: 12px 0px

    .cat-list li
      padding-top: 15px
      padding-bottom: 8px
      border-bottom: 2px dotted #eee
      -webkit-transition: all 0.3s ease 0s
      -moz-transition: all 0.3s ease 0s
      -o-transition: all 0.3s ease 0s
      transition: all 0.3s ease 0s

      p
        font-weight: 300
        font-size: 14px
        margin-bottom: 0px
        -webkit-transition: all 0.3s ease 0s
        -moz-transition: all 0.3s ease 0s
        -o-transition: all 0.3s ease 0s
        transition: all 0.3s ease 0s

      a
        color: #777

      &:hover
        border-color: #f7631b

        p
          color: #f7631b

  .newsletter-widget
    .newsletter-title
      background: #f7631b
      color: #fff
      text-align: center
      padding: 12px 0px

    .col-autos
      width: 100%

    p
      text-align: center
      margin: 20px 0px

    .bbtns
      background: #f7631b
      color: #fff
      font-size: 12px
      font-weight: 500
      padding: 8px 20px
      border-radius: 0

    .input-group-text
      background: #fff
      border-radius: 0px
      vertical-align: top

      i
        color: #ccc
        margin-top: -1px

    .form-control
      border-left: none !important
      border-right: none !important
      border-radius: 0px
      font-size: 13px
      color: #ccc
      padding: 9px
      padding-left: 0px

      &:focus
        box-shadow: none
        border-color: #ccc

    \::-webkit-input-placeholder, ::-moz-placeholder, :-ms-input-placeholder, :-moz-placeholder
      font-size: 13px
      color: #ccc

    .text-bottom
      margin-bottom: 0px

  .tag-cloud-widget
    .tagcloud-title
      background: #f7631b
      color: #fff
      text-align: center
      padding: 12px 0px
      margin-bottom: 30px

    ul li
      display: inline-block
      border: 1px solid #eee
      background: #fff
      padding: 4px 14px
      margin-bottom: 10px
      -webkit-transition: all 0.3s ease 0s
      -moz-transition: all 0.3s ease 0s
      -o-transition: all 0.3s ease 0s
      transition: all 0.3s ease 0s

      &:hover
        background: #f7631b

        a
          color: #fff

      a
        font-size: 12px
        color: #222

@media (max-width: 991px)
  .widget-wrap
    margin-top: 50px

.single-post-area
  padding-top: 80px
  padding-bottom: 80px

  .meta-details
    margin-top: 20px !important

  .social-links li
    display: inline-block
    margin-bottom: 10px

    a
      color: #222
      padding: 7px
      font-size: 14px
      -webkit-transition: all 0.3s ease 0s
      -moz-transition: all 0.3s ease 0s
      -o-transition: all 0.3s ease 0s
      transition: all 0.3s ease 0s

      &:hover
        color: #f7631b

  .quotes
    margin-top: 20px
    padding: 30px
    background-color: #fff
    box-shadow: (-20.84px) 21.58px 30px 0px rgba(176, 176, 176, 0.1)

  .arrow
    position: absolute

    .lnr
      font-size: 20px
      font-weight: 600

  .thumb .overlay-bg
    background: rgba(0, 0, 0, 0.8)

  .navigation-area
    border-top: 1px solid #eee
    padding-top: 30px

    .nav-left
      text-align: left

      .thumb
        margin-right: 20px
        background: #000

        img
          -webkit-transition: all 0.3s ease 0s
          -moz-transition: all 0.3s ease 0s
          -o-transition: all 0.3s ease 0s
          transition: all 0.3s ease 0s

      .lnr
        margin-left: 20px
        opacity: 0
        -webkit-transition: all 0.3s ease 0s
        -moz-transition: all 0.3s ease 0s
        -o-transition: all 0.3s ease 0s
        transition: all 0.3s ease 0s

      &:hover
        .lnr
          opacity: 1

        .thumb img
          opacity: .5

    .nav-right
      text-align: right

      .thumb
        margin-left: 20px
        background: #000

        img
          -webkit-transition: all 0.3s ease 0s
          -moz-transition: all 0.3s ease 0s
          -o-transition: all 0.3s ease 0s
          transition: all 0.3s ease 0s

      .lnr
        margin-right: 20px
        opacity: 0
        -webkit-transition: all 0.3s ease 0s
        -moz-transition: all 0.3s ease 0s
        -o-transition: all 0.3s ease 0s
        transition: all 0.3s ease 0s

      &:hover
        .lnr
          opacity: 1

        .thumb img
          opacity: .5

@media (max-width: 767px)
  .single-post-area .navigation-area .nav-left
    margin-bottom: 30px

@media (max-width: 991px)
  .single-post-area .sidebar-widgets
    padding-bottom: 0px

.comments-area
  background: #fafaff
  border: 1px solid #eee
  padding: 50px 20px
  margin-top: 50px

  h4
    text-align: center
    margin-bottom: 50px

  a
    color: #222

  .comment-list
    padding-bottom: 30px

    &:last-child
      padding-bottom: 0px

    &.left-padding
      padding-left: 25px

  .thumb
    margin-right: 20px

  .date
    font-size: 13px
    color: #cccccc

  .comment
    color: #777777

  .btn-reply
    background-color: #fff
    color: #222
    border: 1px solid #eee
    padding: 8px 30px
    display: block
    font-weight: 600
    -webkit-transition: all 0.3s ease 0s
    -moz-transition: all 0.3s ease 0s
    -o-transition: all 0.3s ease 0s
    transition: all 0.3s ease 0s

    &:hover
      background-color: #f7631b
      color: #fff

@media (max-width: 414px)
  .comments-area
    padding: 50px 8px

@media (max-width: 413px)
  .comments-area .comment-list .single-comment
    h5
      font-size: 12px

    .date
      font-size: 11px

    .comment
      font-size: 10px

.comment-form
  background: #fafaff
  text-align: center
  border: 1px solid #eee
  padding: 50px 20px
  margin-top: 50px

  h4
    text-align: center
    margin-bottom: 50px

  .name
    padding-left: 0px

  .email
    padding-right: 0px

  .form-control
    padding: 12px
    background: #fff
    border: none
    border-radius: 0px
    width: 100%
    font-size: 13px
    color: #777777

    &:focus
      box-shadow: none
      border: 1px solid #eee

  \::-webkit-input-placeholder, ::-moz-placeholder, :-ms-input-placeholder, :-moz-placeholder
    font-size: 13px
    color: #777

  .primary-btn
    border-radius: 0px !important
    border: 1px solid transparent
    color: #fff
    font-weight: 600

    &:hover
      background: transparent
      border-color: #f7631b !important
      color: #f7631b !important

@media (max-width: 991px)
  .comment-form .name
    padding-right: 0px

@media (max-width: 991px)
  .comment-form .email
    padding-left: 0px

.contact-page-area
  background: #f9f9ff

  .map-wrap
    margin-bottom: 120px

  .contact-btns
    font-size: 18px
    font-weight: 600
    text-align: center
    padding: 40px
    color: #fff
    margin-bottom: 30px

    &:hover
      color: #fff

  .form-area
    .form-control:focus
      box-shadow: none !important
      border-color: #ced4da !important

    input
      padding: 15px
      border-radius: 0
      font-size: 13px !important

    textarea
      border-radius: 0
      font-size: 13px !important
      height: 190px
      margin-top: 0px
      padding: 15px

    .genric-btn
      -webkit-transition: all 0.3s ease 0s
      -moz-transition: all 0.3s ease 0s
      -o-transition: all 0.3s ease 0s
      transition: all 0.3s ease 0s
      border-radius: 0 !important
      font-size: 14px
      text-transform: uppercase !important

      &:hover
        border: 1px solid #f7631b
        color: #f7631b !important

  .address-wrap .single-contact-address
    margin-bottom: 8px

    h5
      font-weight: 300
      font-size: 16px
      margin-bottom: 5px

    .lnr
      font-size: 30px
      font-weight: 500
      color: #f7631b
      margin-right: 30px

@media (max-width: 991px)
  .contact-page-area .map-wrap
    margin-bottom: 50px

@media (max-width: 991px)
  .contact-page-area .address-wrap
    margin-bottom: 30px

.footer-area
  background-color: #04091e

.single-footer-widget
  h4
    color: #fff
    margin-bottom: 25px
    font-weight: 500

  .form-control
    border: none
    width: 80% !important
    font-weight: 300
    background: #f9f9ff
    padding-left: 20px
    border-radius: 0
    font-size: 14px
    line-height: normal !important
    color: #222

    &:focus
      box-shadow: none
      color: #222

  ul li
    margin-bottom: 10px

    a
      color: #777
      -webkit-transition: all 0.3s ease 0s
      -moz-transition: all 0.3s ease 0s
      -o-transition: all 0.3s ease 0s
      transition: all 0.3s ease 0s

      &:hover
        color: #f7631b

  .bb-btn
    color: #f7631b
    color: #fff
    font-weight: 300
    border-radius: 0
    z-index: 9999
    cursor: pointer

  .info
    margin-top: 25px
    color: #fff
    font-size: 12px

    &.valid
      color: green

    &.error
      color: red

  .btn
    font-size: 1.2rem
    border-radius: 0
    background: #f7631b
    color: #fff

    .lnr
      line-height: inherit
      font-size: 13px
      padding: 0px 4px

  \::-moz-selection, ::selection
    background-color: #191919 !important
    color: #777

  \::-webkit-input-placeholder
    color: #777
    font-weight: 300

  \:-moz-placeholder, ::-moz-placeholder
    color: #777
    opacity: 1
    font-weight: 300

  \:-ms-input-placeholder, ::-ms-input-placeholder
    color: #777
    font-weight: 300

@media (max-width: 991.98px)
  .single-footer-widget
    margin-bottom: 30px

.footer-bottom
  padding-top: 50px

  .footer-social
    text-align: right

  .lnr, a
    color: #f7631b

  .footer-social a
    background: rgba(255, 255, 255, 0.1)
    color: #fff
    width: 30px
    height: 30px
    display: inline-block
    text-align: center
    -webkit-transition: all 0.3s ease 0s
    -moz-transition: all 0.3s ease 0s
    -o-transition: all 0.3s ease 0s
    transition: all 0.3s ease 0s

    i
      vertical-align: bottom

    &:hover
      background-color: #f7631b

@media (max-width: 991px)
  .footer-bottom .footer-social
    text-align: left
    margin-top: 30px