doctype html
html.no-js lang="zxx"
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
    /! Mobile Specific Meta
    meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" /
    title OnSchool
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    /! Favicon
    / link href="img/fav.png" rel=("shortcut icon") /
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  body
    header#header
      = render partial: 'shared/header'
    /! #header
    = yield
    /! start footer Area
    = render partial: 'shared/footer'
    /! End footer Area
    script crossorigin="anonymous" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"

