/! start banner Area
section#home.banner-area.relative.about-banner
  .overlay.overlay-bg
  .container
    .row.d-flex.align-items-center.justify-content-center
      .about-content.col-lg-12
        h1.text-white
          | Registration
        p.text-white.link-nav
          a href="index.html"  Home
          span.lnr.lnr-arrow-right
          = link_to 'Registration', new_user_registration_path
/! End banner Area
br
.container
  .card.bg-light
    article.card-body.mx-auto style=("max-width: 400px;")
      h4.card-title.mt-3.text-center Create Account
      / form
      = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = f.error_notification
        .form-group.input-group
          = f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: {autocomplete: "email", type: "email", placeholder: "Email address"},
                  label: false
        .form-group.input-group
          = f.input :first_name,
                      required: true,
                      autofocus: true,
                      input_html: {autocomplete: "first_name", type: "text", placeholder: "First name"},
                  label: false
        .form-group.input-group
          = f.input :last_name,
                  required: true,
                  autofocus: true,
                  input_html: {autocomplete: "last_name", type: "text", placeholder: "Last name"},
                  label: false
        .form-group.input-group
          = f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: {autocomplete: "new-password", placeholder: "Create password"},
                  label: false
        .form-group.input-group
          = f.input :password_confirmation,
                  required: true,
                  input_html: {autocomplete: "new-password", placeholder: "Confirm password"},
                  label: false
        .form-group
          = f.button :submit, "Create Account",
                  class: "btn btn-primary btn-block",
                  type: "submit"
br
          /! card.//
          /! container end.//